@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-SemiBold" ;
    src: url(../../fonts/PlusJakartaSans-SemiBold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Medium" ;
    src: url(../../fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular" ;
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Light" ;
    src: url(../../fonts/PlusJakartaSans-Light.ttf);
}

body {
    margin: 0;
    padding: 0;
 }

#ha {
    height:(100vh - 4rem);
    margin: 0;
    /* padding-bottom: 4rem; */
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100vw;;

}

#ha .overlap-group-wrapper {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    }

    #ha .overlap-group {
    background-image: url(../../images/HA\ banner.png);
    background-size: 100% 100%;
    height: 100%;
    width: 100vw;;
    z-index: -1;
    animation-delay: 3s; 
    -webkit-animation: fadeInFromNone 3s ease-out;
      -moz-animation: fadeInFromNone 3s ease-out;
      -o-animation: fadeInFromNone 3s ease-out;
      animation: fadeInFromNone 3s ease-out;
    }
    
    @-webkit-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-moz-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-o-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
    
.haIntro {
  padding: 3.25rem 11.406rem 3.25rem 11.406rem;
  display: flex;
  flex-direction: row;
  background-color: #F4FBFF;
  gap:136px;
 
}

.projectIntro{
    width: 630px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.introTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

.haIntroDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 680px;
}

.projectInfo{
    width: 365px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoRow{
    gap: 6px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoTitle{
    font-size: 1.375rem;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 1rem;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 150%;
    margin:0;
}

a.pressLink{
text-decoration: underline;

}


.haProjectGoalContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 220px;
    justify-content: center;
  
  }
  
  .haTextContainer{
    display: flex;
    flex-direction: column;
    padding: 0 182.5px 60px;
    width:1075px;
    justify-content: center;
    gap:14px;
  }
  
  .haTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 1.75rem ;
      color: #061736;
      line-height: 150%;
  }
  
  .haDescription{
      font-size: 1.25rem;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 150%;
      width:1075px;
      margin:0;
  }
  
  .imgContainer{
      display: flex;
      flex-direction: column;
      justify-content:center ;
      align-items: center;
      
  }
  
  img.haGoalImg{
    width:1076px;
    padding:0 182px;
  }

  .problemContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
  
  }

  img.haProblemImg{
    width:1076px;
    padding:0 182px;
  }

  .researchContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
  
  }

  img.haResearchImg{
    width:1076px;
    padding:0 182px;
  }

  .solutionContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
  
  }

  .haSubtitle{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-SemiBold";
    color:#061736;
    line-height: 150%;
    width:1075px;
    margin:0;
}


  img.haSolutionImg{
    width:1296px;
    padding:0 72px;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 6rem;
    justify-content: space-between;
}

@media screen and  (max-width:1366px) {
  #ha {
    width: 768px;

}

#ha .overlap-group-wrapper {
    height: 100vh;
    width: 768px;
    }

    #ha .overlap-group {
    background-image: url(../../images/ha\ banner\ ipad.png);
    background-size: 100% 100%;
    height: 100%;
    width: 100vw;;
    z-index: -1;
    }
    
div.haIntro {
  padding: 52px 80px;
  gap: 67px;
  width: 768px;
  height: 628px;
 
}

div.projectIntro{
    width: 330px;
    height: 524px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

span.introTitle{
    font-size: 2.5rem;
    line-height: 150%;
}

p.haIntroDescription {
    font-size: 1.25rem;
    line-height: 150%;
    width: 330px;
    height: 448px;
}

.projectInfo{
    width: 210px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.infoRow{
    gap: 6px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoTitle{
    font-size: 1.375rem;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 1rem;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 150%;
    margin:0;
}


.haProjectGoalContainer{
    width: 768px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 220px;
    justify-content: center;
  
  }
  
  .haTextContainer{
    display: flex;
    flex-direction: column;
    padding: 0 30px 60px;
    width:708px;
    justify-content: center;
    gap:14px;
  }
  
  .haTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 1.75rem ;
      color: #061736;
      line-height: 150%;
  }
  
  .haDescription{
      font-size: 1.25rem;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 150%;
      width:708px;
      margin:0;
  }
  
  .imgContainer{
      display: flex;
      flex-direction: column;
      justify-content:center ;
      align-items: center;
      
  }
  
  img.haGoalImg{
    width:708px;
    padding:0 30px;
  }

  .problemContainer{
    width: 768px;
    padding-bottom: 220px;
    justify-content: center;
  
  }

  img.haProblemImg{
    width:708px;
    padding:0 30px;
  }

  .researchContainer{
    width: 768px;
    padding-bottom: 0 0 220px;
    justify-content: center;
  
  }

  img.haResearchImg{
    width:708px;
    padding:0 30px;
  }

  .solutionContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
  
  }

  .haSubtitle{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-SemiBold";
    color:#061736;
    line-height: 150%;
    width:708px;
    margin:0;
}


  img.haSolutionImg{
    width:708px;
    padding:0 30px;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 6rem;
    justify-content: space-between;
}
}

@media screen and  (max-width:480px) {
  #ha {
    width: 100vw;

}

#ha .overlap-group-wrapper {
    height: fit-content;
    width: 100vw;
    }

    #ha .overlap-group {
    background-image: url(../../images/ha\ banner\ ipad.png);
    background-size: 100% 100%;
    height: 427px;
    width: 100vw;
    z-index: -1;
    }
    
div.haIntro {
  /* padding: 25px 40px; */
  padding: 6vw;
  gap: 32px;
  width: 100vw;
  /* height: 321px; */
  height: 90vw;
 
}

div.projectIntro{
    width: 161px;
    height: 270px;
    gap: 20px;
}

span.introTitle{
    font-size: 20px;
    line-height: 150%;
}

p.haIntroDescription {
    font-size: 10px;
    line-height: 150%;
    width: 161px;
    height: 233px;
}

div.projectInfo{
    width: 102px;
    gap: 14px;
    display: flex;
    flex-direction: column;
}

div.infoRow{
    gap: 3px;
}

span.infoTitle{
    font-size: 10px;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

p.infoDescription{
    font-size: 10px;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 150%;
    margin:0;
}


.haProjectGoalContainer{
    width: 100vw;
    padding-top: 55px;
    padding-bottom: 110px;
    justify-content: center;
  
  }
  
  .haTextContainer{
    display: flex;
    flex-direction: column;
    padding: 0 16px 30px;
    width:343px;
    justify-content: center;
    gap:10px;
  }
  
  .haTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 14px ;
      color: #061736;
      line-height: 150%;
  }
  
  .haDescription{
      font-size: 10px;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 150%;
      width:343px;
      margin:0;
  }
  
  
  img.haGoalImg{
    width:343px;
    padding:0 16px;
  }

  .problemContainer{
    width: 100vw;
    padding-bottom: 110px;
    justify-content: center;
  
  }

  img.haProblemImg{
    width:343px;
    padding:0 16px;
  }

  .researchContainer{
    width: 100vw;
    padding-bottom: 110px;
    justify-content: center;
  
  }

  img.haResearchImg{
    width:343px;
    padding:0 16px;
  }

  .solutionContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 110px;
    justify-content: center;
  
  }

  .haSubtitle{
    font-size: 12px;
    font-family: "PlusJakartaSans-SemiBold";
    color:#061736;
    line-height: 150%;
    width:343px;
    margin:0;
}


  img.haSolutionImg{
    width:343px;
    padding:0 16px;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 3rem;
    justify-content: space-between;
}
}