@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url("../../fonts/PlusJakartaSans-Bold.ttf");
}
.learnBtn {
    background-color: white;
    border-radius: 10px;
    color: #163279;
    border: 1px solid #163279;
    padding: 10px 38px;
    /* display: flex; */
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "PlusJakartaSans-Bold";
  }

.learnBtn:hover {
    border: 1px solid;
    border-color:  #0066CC ;
    background-color: #ffffff;
    color: #0066CC;
  }

  @media screen and  (max-width:480px) {
    .learnBtn {
      background-color: white;
      border-radius: 6px;
      color: #163279;
      border: 1px solid #163279;
      padding: 6px 27px;
      /* display: flex; */
      font-size: 12px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      font-family: "PlusJakartaSans-Bold";
    }
  
  }