@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-SemiBold" ;
    src: url(../../fonts/PlusJakartaSans-SemiBold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Medium" ;
    src: url(../../fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular" ;
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Light" ;
    src: url(../../fonts/PlusJakartaSans-Light.ttf);
}

body {
    margin: 0;
    padding: 0;
 }

#wings {
    height:(100vh - 4rem);
    margin: 0;
    /* padding-bottom: 4rem; */
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100vw;
    animation-delay: 3s; 
    animation: blur 3s ease 0s ;
    animation-delay: 1s; 
    -webkit-animation: blur 3s ease 0s ;
    -moz-animation: blur 3s ease 0s ;

}

#wings .overlap-group-wrapper {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    }

    #wings .overlap-group {
    background-image: url(../../images/wings\ banner.png);
    background-size: 100% 100%;
    height: 120vh;
    width: 100vw;
    z-index: -1;
    }
    
    @-webkit-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-moz-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-o-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
    
.wingsIntro {
  padding: 6vh 12vw;
  display: flex;
  flex-direction: row;
  background-color: #F4FBFF;
  gap:10vw;
  justify-content: center;
  align-items: flex-start;
 
}

.projectIntro{
    width: 47vw;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.introTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

.wingsIntroDescription{
    font-size: 18px;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 47vw;
}

.projectInfo{
    width: 24vw;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoRow{
    gap: 6px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoTitle{
    font-size: 1.375rem;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 1rem;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 28px;
    margin:0;
}

.actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 6rem;
    justify-content: space-between;
}

@media screen and (max-width:1366px) {
    #wings {
        width: 100vw;
    
    }
    
    #wings .overlap-group-wrapper {
        background-color: #ffffff;
        height: fit-content;
        width: 100vw;
        }
    
        #wings .overlap-group {
        background-image: url(../../images/wings\ banner\ ipad.png);
        background-size: 100% 100%;
        height: 140vh;
        width:100vw;
        z-index: -1;
        }
        
    .wingsIntro {
      padding: 52px 80px;
      gap:67px;
      height:70vh;
     
    }
    
    #wings .projectIntro{
        width: 60vw;
        gap: 30px;
    }
    
    .introTitle{
        font-size: 2.5rem;
        font-family: "PlusJakartaSans-Bold";
        color: #163279;
        line-height: 150%;
    }
    
    .wingsIntroDescription{
        font-size: 18px;
        font-family: "PlusJakartaSans-Regular";
        color:#061736;
        line-height: 150%;
        width: 60vw;
    }
    
    .projectInfo{
        width: 201px;
        gap: 30px;
    }
    
    .infoRow{
        gap: 6px;
    }
    
    .infoTitle{
        font-size: 1.375rem;
        font-family: "PlusJakartaSans-Medium";
        color:#061736;
        line-height: 150%;
        margin:0;
    }
    
    .infoDescription{
        font-size: 1rem;
        font-family: "PlusJakartaSans-Light";
        color:#636871;
        line-height: 150%;
        margin:0;
    }
    
    .actionProject{
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 110px;
        justify-content: space-between;
    }
}

@media screen and (max-width:820px) {
    #wings {
        width: 100vw;
    
    }
    
    #wings .overlap-group-wrapper {
        background-color: #ffffff;
        height: fit-content;
        width: 100vw;
        }
    
        #wings .overlap-group {
        background-image: url(../../images/wings\ banner\ ipad.png);
        background-size: 100% 100%;
        height: 876px;
        width:100vw;
        z-index: -1;
        }
        
    .wingsIntro {
      padding: 52px 80px;
      gap:67px;
      height:733px;
     
    }
    
    .projectIntro{
        width: 331px;
        gap: 30px;
    }
    
    .introTitle{
        font-size: 2.5rem;
        font-family: "PlusJakartaSans-Bold";
        color: #163279;
        line-height: 150%;
    }
    
    .wingsIntroDescription{
        font-size: 18px;
        font-family: "PlusJakartaSans-Regular";
        color:#061736;
        line-height: 150%;
        width: 331px;
    }
    
    .projectInfo{
        width: 201px;
        gap: 30px;
    }
    
    .infoRow{
        gap: 6px;
    }
    
    .infoTitle{
        font-size: 1.375rem;
        font-family: "PlusJakartaSans-Medium";
        color:#061736;
        line-height: 150%;
        margin:0;
    }
    
    .infoDescription{
        font-size: 1rem;
        font-family: "PlusJakartaSans-Light";
        color:#636871;
        line-height: 150%;
        margin:0;
    }
    
    .actionProject{
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 110px;
        justify-content: space-between;
    }
}

@media screen and (max-width:480px) {
    #wings {
        width: 100vw;
    
    }
    
    #wings .overlap-group-wrapper {
        background-color: #ffffff;
        height: fit-content;
        width: 100vw;
        }
    
        #wings .overlap-group {
        background-image: url(../../images/wings\ banner\ ipad.png);
        background-size: 100% 100%;
        height: 427px;
        width: 390px;
        z-index: -1;
        }
        
    .wingsIntro {
      padding: 25px 40px;
      gap:32px;
      /* height:403px; */
     height:55vh;
    }
    
    .projectIntro{
        width: 161px;
        gap: 20px;
    }
    
    .introTitle{
        font-size: 20px;
        font-family: "PlusJakartaSans-Bold";
        color: #163279;
        line-height: 150%;
    }
    
    .wingsIntroDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#061736;
        line-height: 150%;
        width: 161px;
    }
    
    .projectInfo{
        width: 102px;
        gap: 14px;
    }
    
    .infoRow{
        gap: 3px;
    }
    
    .infoTitle{
        font-size: 10px;
        font-family: "PlusJakartaSans-Medium";
        color:#061736;
        line-height: 150%;
        margin:0;
    }
    
    .infoDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Light";
        color:#636871;
        line-height: 150%;
        margin:0;
    }
    div.timelineContainer{
        padding-top: 55px;
        padding-bottom: 110px;
    }
    .actionProject{
        display: flex;
        flex-direction: row;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 55px;
        justify-content: space-between;
    }
}