@font-face {
    font-family: "PlusJakartaSans-Bold";
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular";
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

html, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
    }

#intro {
    height:(100vh - 4rem);
    width: 100vw;
    margin: 0;
    overflow: hidden;
    position: relative;

}

.selfBg {
    position: absolute;
    z-index: -30;
    top: -2rem;
    right: -3.5rem;
    object-fit: cover;
    height: 100vh;
    animation-delay: 4s; 
    -webkit-animation: fadeInFromNone 4s ease-out;
      -moz-animation: fadeInFromNone 4s ease-out;
      -o-animation: fadeInFromNone 4s ease-out;
      animation: fadeInFromNone 4s ease-out;
    /* animation: blur 3s ease 0s ;
    animation-delay: 1s; 
    -webkit-animation: blur 3s ease 0s ;
    -moz-animation: blur 3s ease 0s ; */
    
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
  
    1% {
        display: block;
        opacity: 0;
    }
  
    100% {
        display: block;
        opacity: 1;
    }
  }
  
  @-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
  
    1% {
        display: block;
        opacity: 0;
    }
  
    100% {
        display: block;
        opacity: 1;
    }
  }
  
  @-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
  
    1% {
        display: block;
        opacity: 0;
    }
  
    100% {
        display: block;
        opacity: 1;
    }
  }
  
  @keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
  
    1% {
        display: block;
        opacity: 0;
    }
  
    100% {
        display: block;
        opacity: 1;
    }
  }
/* 
@keyframes blur {
    0%,
    90% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
    }
    50% {
      -webkit-filter: blur(50px);
      -moz-filter: blur(50px);
      -o-filter: blur(50px);
      -ms-filter: blur(50px);
    }
  }
   */

  

.selfIntroContent {
    position: relative;
    height: 100vh;
    width: 82rem;
    padding: 4rem 120px 4rem 120px;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #061736;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: 2s;
    z-index: -1;
}

@keyframes slideRight {
    0%{
      transform: translateX(-100px);
      opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
  }


.Hello{
    font-size:1.25rem;
    font-family:"PlusJakartaSans-Bold";
    
}

.selfIntroName {
    font-size: 2.75rem;
    font-family:"PlusJakartaSans-Bold";
    background: -webkit-linear-gradient(#087BC6, #142551);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.selfIntroTitle {
    display: flex;
    font-size: 2.75rem;
    font-family:"PlusJakartaSans-Bold";
    
}

.selfIntroLocation {
    font-size: 2.75rem;
    font-family:"PlusJakartaSans-Bold";
    
}

.selfIntroPara {
    font-size: 1.125rem;
    font-family:"PlusJakartaSans-Regular";
    line-height: 1.75rem;
    padding-top: 24px;
    width:40rem;
    
}
/* fix update update by pigpig
@media screen and  (max-width:768px) {
    selfIntroPara{
    font-size: 1.125rem;
    font-family:"PlusJakartaSans-Regular";
    line-height: 1.75rem;
    padding-top: 24px;
    width:25rem;
    }
} */

/* .actionBtn{
    width: 100vw;
    height: 100vh;
    justify-content: center;
} */

/* .action {
    margin: auto;
    width: 5%;
    padding: 10px;
    justify-self: center;
    align-items: center;
    animation: blur 4s ease 0s ;
    -webkit-animation: blur 4s ease 0s ;
    -moz-animation: blur 4s ease 0s ;
} */

.btn {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    background: white;
    border-radius: 6.25rem;
    padding:0.5rem 0 0 0;
    border:#000;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    animation: blur 4s ease 0s ;
    -webkit-animation: blur 4s ease 0s ;
    -moz-animation: blur 4s ease 0s ;
}

.img{
    object-fit: cover;
    padding: 0.1rem;
    margin: 0.10rem;
    height: 1rem;
    justify-content: inline;
    border-radius: 6.25rem;
    padding:0.5rem 0 0 0;
    border:none;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    animation: blur 4s ease 0s ;
    -webkit-animation: blur 4s ease 0s ;
    -moz-animation: blur 3.5s ease 0s ;
}

.img:hover svg{
 fill:#0066cc;
}

/* @media screen and (max-width:840px) {
    .bg{
        right: -2vw
    }
    .selfIntroContent{
        font-size:10vw;
    }
} */

@media screen and  (max-width:768px) {
    
    #intro {
        height:(100vh - 4rem);
        width: 100vw;
        margin: 0;
        overflow: hidden;
        position: relative;
    
    }

    #selfIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 768px;

   
    }

    .selfBg{
        width: 618px;
        height: 574px;
        left: 7rem;
        display: flex;
    }

    .selfIntroContent {
    padding-top: 330px;
    padding-right: 66px;
    padding-left: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 636px;
    margin: 0;

   
    }


    .selfIntroPara{
        /* fix update */
        width: 535px;
        /* width: 635px; */
    }

    #workItem1,#workItem2,#workItem3,#workItem4,#workItem5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 34px 120px 34px;

    }
}

@media screen and  (max-width:375px) {

    #selfIntro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 375px;
    
       
        }
    
        .selfBg{
            width: 302px;
            height: 280px;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 60px;

        }
    
        .selfIntroContent {
            height: 500px;
        position: relative;
        padding-bottom: 0 ;
        padding-right: 2px;
        padding-left: 30px;
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 343px;
        z-index: 2;
        margin-top: 0;
        margin-bottom: 0;
    
       
        }
    
        .Hello{
            font-size: 14px;
        }

        .selfIntroName{
            font-size: 20px;
        }

        .selfIntroTitle{
            font-size: 20px;
        }

        .selfIntroLocation{
            font-size: 20px;
        }
    
        .selfIntroPara{
            font-size: 0.8rem;
            width: 300px;
            line-height: 1.6rem;

        }

        #workItem1,#workItem2,#workItem3,#workItem4,#workItem5{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 16px 80px 16px;  
        }
}
