@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-SemiBold" ;
    src: url(../../fonts/PlusJakartaSans-SemiBold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Medium" ;
    src: url(../../fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular" ;
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Light" ;
    src: url(../../fonts/PlusJakartaSans-Light.ttf);
}

body {
    margin: 0;
    padding: 0;
 }

#motic {
    height:(100vh - 4rem);
    width: 90rem;
    margin: 0;
    /* padding-bottom: 4rem; */
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100vw;;

}

#motic .overlap-group-wrapper {
    background-color: #ffffff;
    height: fit-content;
    width: 100vw;
    }

    #motic .overlap-group {
    background-image: url(../../images/motic\ banner.png);
    background-size: 100% 100%;
    height: 110vh;
    z-index: -1;
    animation-delay: 3s; 
    -webkit-animation: fadeInFromNone 3s ease-out;
      -moz-animation: fadeInFromNone 3s ease-out;
      -o-animation: fadeInFromNone 3s ease-out;
      animation: fadeInFromNone 3s ease-out;
    }
    
    @-webkit-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-moz-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-o-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
    
.moticIntro {
  padding: 6vh 12vw 6vh 12vw;
  display: flex;
  flex-direction: row;
  background-color: #F4FBFF;
  gap:10vw;
  justify-content: space-between;
  align-items: flex-start;
 
}

.moticProjectIntro{
    width: 47vw;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.introTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

p.moticIntroDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 47vw;
}

.projectInfo{
    width: 24vw;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoRow{
    gap: 6px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoTitle{
    font-size: 1.375rem;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 1rem;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 28px;
    margin:0;
}

.moticChallengeContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 220px;
    justify-content: center;
  
  }

.imgContainer{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

img.moticChallengeImg{
  width:76vw;
  padding:0 12vw;
}

.sideContainer{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    gap: 136px;
    padding: 70px 12vw 0 12vw;
    
}

img.moticChallengeImg2{
  width:43vw;
}
  
  .moticTextContainer{
    display: flex;
    flex-direction: column;
    width:43vw;
    justify-content: center;
    gap:14px;
  }
  
.moticTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 1.75rem ;
      color: #061736;
      line-height: 150%;
  }
  
  .moticSideDescription{
      font-size: 1.25rem;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 28px;
      width:26vw;
      margin:0;
  }
  
  .moticDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:76vw;
    margin:0;
}

.moticSolutionContainer{
    gap: 60px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
}

.textContainer{
    display: flex;
    flex-direction: column;
    padding: 0 12vw 60px;
    width:76vw;
    justify-content: center;
    gap:14px;
  }

.videoOutsideContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 12vw;
    margin:0;
    gap:30px;
}

.moticVideoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 11.5vw 96px 11.5vw;
    background-color: #555555;
    margin:0;
    
}

iframe.moticVideo {
 width: 53vw;
 height: 50vh;
 padding: 0;
 margin: 0;
 
}

.moticImgRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    gap: 30px;

}

img.moticSolutionItem{
 width: 37.2vw;
 padding: 0;
 margin: 0;
}

.moticDesignContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    gap:60px;
  
  }  

.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
}

img.moticDesignImg{
  width:76vw;
  padding:0 12vw;
}

.moticWireframeContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    gap:60px;
}

.moticImgList{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    row-gap: 30px;
    padding: 0 12vw 0 12vw;
}

img.moticWireframeImg1{
    width:76vw;
  }

  img.moticWireframeImg2{
    width:76vw;

  }

  .moticOutcomeContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
  }

  .moticOutcomeImgList{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    row-gap: 60px;
    padding: 0 12vw 0 12vw;
  }

  img.moticOutcomeImg1{
    width:76vw;
  }
  
  img.moticOutcomeImg2{
    width:76vw;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 6rem;
    justify-content: space-between;
}

@media screen and (max-width:1366px) and (min-width:821px) {
  #motic {
    width: 100vw;

}

#motic .overlap-group-wrapper {
    background-color: #ffffff;
    height: fit-content;
    width: 100vw;
    height: fit-content;
    }

    #motic .overlap-group {
    background-image: url(../../images/motic\ banner\ ipad.png);
    background-size: 100% 100%;
    height: 140vh;
    z-index: -1;
    }
    
.moticIntro {
  padding: 52px 80px;
  gap:67px;
  height: 75vh;
 
}

.moticProjectIntro{
    width: 60vw;
    gap: 40px;

}

.introTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

p.moticIntroDescription {
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 60vw;
    height: 50vh;
}

.projectInfo{
    width: 210px;
    gap: 30px;
}

.infoRow{
    gap: 6px;
}

.infoTitle{
    font-size: 1.375rem;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 1rem;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 150%;
    margin:0;
}

.moticChallengeContainer{
    width: 100vw;
    padding-top: 110px;
    padding-bottom: 220px;
    justify-content: center;
  
  }

.imgContainer{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

img.moticChallengeImg{
  width:94vw;
  padding:0 30px;
}

.sideContainer{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: flex-start;
    gap: 50px;
    padding: 60px 30px 0 30px;
    
}

img.moticChallengeImg2{
  width:47vw;
}
  
  .moticTextContainer{
    display: flex;
    flex-direction: column;
    width: 47vw;
    justify-content: flex-start;
    gap:14px;
  }
  
.moticTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 1.75rem ;
      color: #061736;
      line-height: 150%;
  }
  
  .moticSideDescription{
      font-size: 1.25rem;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 150%;
      width:42vw;
      margin:0;
  }
  
  .moticDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:94vw;
    margin:0;
}

.moticSolutionContainer{
    gap: 60px;
    padding-bottom: 220px;
}

.textContainer{
    padding: 0 30px 60px;
    width: 94vw;
    gap:14px;
  }

.videoOutsideContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 30px;
    margin:0;
    gap:30px;
}

.moticVideoContainer{
    padding: 76px 60px;
 background-color: #555555;
    margin:0;
    
}

iframe.moticVideo {
 width: 81vw;
 height: 60vh;
 padding: 0;
 margin: 0;
 
}

.moticImgRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    gap: 30px;

}

img.moticSolutionItem{
 width: 45vw;
 padding: 0;
 margin: 0;
}

.moticDesignContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
    gap:60px;
  
  }  

.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
}

img.moticDesignImg{
  width:94vw;
  padding:0 30px;
}

.moticWireframeContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
    gap:60px;
}

.moticImgList{
    row-gap: 30px;
    padding: 0 30px 0 30px;
}

img.moticWireframeImg1{
    width:94vw;
  }

  img.moticWireframeImg2{
    width:94vw;

  }

  .moticOutcomeContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
  }

  .moticOutcomeImgList{
    row-gap: 60px;
    padding: 0 30px 0 30px;
  }

  img.moticOutcomeImg1{
    width:94vw;
  }
  
  img.moticOutcomeImg2{
    width:94vw;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 6rem;
    justify-content: space-between;
}
}

@media screen and (max-width:820px) and (min-width:481px) {
  #motic {
    width: 100vw;

}

#motic .overlap-group-wrapper {
    background-color: #ffffff;
    height: fit-content;
    width: 100vw;
    height: fit-content;
    }

    #motic .overlap-group {
    background-image: url(../../images/motic\ banner\ ipad.png);
    background-size: 100% 100%;
    height: 876px;
    z-index: -1;
    }
    
.moticIntro {
  padding: 52px 80px;
  gap:67px;
  height: 600px;
 
}

.moticProjectIntro{
    width: 331px;
    gap: 40px;

}

.introTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

p.moticIntroDescription {
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 331px;
    height: 420px;
}

.projectInfo{
    width: 210px;
    gap: 30px;
}

.infoRow{
    gap: 6px;
}

.infoTitle{
    font-size: 1.375rem;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 1rem;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 150%;
    margin:0;
}

.moticChallengeContainer{
    width: 100vw;
    padding-top: 110px;
    padding-bottom: 220px;
    justify-content: center;
  
  }

.imgContainer{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

img.moticChallengeImg{
  width:708px;
  padding:0 30px;
}

.sideContainer{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: flex-start;
    gap: 30px;
    padding: 60px 30px 0 30px;
    
}

img.moticChallengeImg2{
  width:344px;
}
  
  .moticTextContainer{
    display: flex;
    flex-direction: column;
    width: 329px;
    justify-content: flex-start;
    gap:14px;
  }
  
.moticTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 1.75rem ;
      color: #061736;
      line-height: 150%;
  }
  
  .moticSideDescription{
      font-size: 1.25rem;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 150%;
      width:320px;
      margin:0;
  }
  
  .moticDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:708px;
    margin:0;
}

.moticSolutionContainer{
    gap: 60px;
    padding-bottom: 220px;
}

.textContainer{
    padding: 0 30px 60px;
    width: 708px;
    gap:14px;
  }

.videoOutsideContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 30px;
    margin:0;
    gap:30px;
}

.moticVideoContainer{
    padding: 76px 60px;
 background-color: #555555;
    margin:0;
    
}

iframe.moticVideo {
 width: 588px;
 height: 367px;
 padding: 0;
 margin: 0;
 
}

.moticImgRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    gap: 30px;

}

img.moticSolutionItem{
 width: 340px;
 padding: 0;
 margin: 0;
}

.moticDesignContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
    gap:60px;
  
  }  

.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
}

img.moticDesignImg{
  width:708px;
  padding:0 30px;
}

.moticWireframeContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
    gap:60px;
}

.moticImgList{
    row-gap: 30px;
    padding: 0 30px 0 30px;
}

img.moticWireframeImg1{
    width:708px;
  }

  img.moticWireframeImg2{
    width:708px;

  }

  .moticOutcomeContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
  }

  .moticOutcomeImgList{
    row-gap: 60px;
    padding: 0 30px 0 30px;
  }

  img.moticOutcomeImg1{
    width:708px;
  }
  
  img.moticOutcomeImg2{
    width:708px;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 6rem;
    justify-content: space-between;
}
}

@media screen and (max-width:480px) {
  #motic {
    width: 100vw;

}

#motic .overlap-group-wrapper {
    background-color: #ffffff;
    height: fit-content;
    width: 100vw;
    height: fit-content;
    }

    #motic .overlap-group {
    background-image: url(../../images/motic\ banner\ ipad.png);
    background-size: 100% 100%;
    height: 427px;
    width: 100vw;
    z-index: -1;
    }
    
.moticIntro {
  padding: 25px 40px;
  gap:32px;
  height: 321px;
 
}

.moticProjectIntro{
    width: 161px;
    gap: 20px;

}

.introTitle{
    font-size: 20px;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

p.moticIntroDescription {
    font-size: 10px;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 161px;
    height: 233px;
}

.projectInfo{
    width: 102px;
    gap: 14px;
}

.infoRow{
    gap: 3px;
}

.infoTitle{
    font-size: 10px;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 10px;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 150%;
    margin:0;
}

.moticChallengeContainer{
    width: 100vw;
    padding-top: 55px;
    padding-bottom: 110px;
    justify-content: center;
  
  }

.imgContainer{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

img.moticChallengeImg{
  width:358px;
  padding:0 16px;
}

.sideContainer{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: flex-start;
    gap: 20px;
    padding: 30px 16px 0 16px;
    
}

img.moticChallengeImg2{
  width:176px;
}
  
  .moticTextContainer{
    display: flex;
    flex-direction: column;
    width: 176px;
    justify-content: flex-start;
    gap:10px;
  }
  
.moticTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 14px ;
      color: #061736;
      line-height: 150%;
  }
  
  .moticSideDescription{
      font-size: 10px;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 150%;
      width:153px;
      margin:0;
  }
  
  .moticDescription{
    font-size: 10px;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:358px;
    margin:0;
}

.moticSolutionContainer{
    gap: 30px;
    padding-bottom: 110px;
}

#motic div.textContainer{
    padding: 0 16px 30px;
    width: 358px;
    gap:10px;
  }

.videoOutsideContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 16px;
    margin:0;
    gap:15px;
}

.moticVideoContainer{
    padding: 36px 29px;
 background-color: #555555;
    margin:0;
    
}

iframe.moticVideo {
 width: 300px;
 height: 177px;
 padding: 0;
 margin: 0;
 
}

.moticImgRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    gap: 15px;

}

img.moticSolutionItem{
 width: 172px;
 padding: 0;
 margin: 0;
}

.moticDesignContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
    gap:30px;
  
  }  

.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
}

img.moticDesignImg{
  width:358px;
  padding:0 16px;
}

.moticWireframeContainer{
    width: 100vw;
    padding-bottom: 110px;
    justify-content: center;
    gap:30px;
}

.moticImgList{
    row-gap: 15px;
    padding: 0 16px 0 16px;
}

img.moticWireframeImg1{
    width:358px;
  }

  img.moticWireframeImg2{
    width:358px;

  }

  .moticOutcomeContainer{
    width: 100vw;
    padding-bottom: 110px;
    justify-content: center;
  }

  .moticOutcomeImgList{
    row-gap: 15px;
    padding: 0 16px 0 16px;
  }

  img.moticOutcomeImg1{
    width:358px;
  }
  
  img.moticOutcomeImg2{
    width:358px;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 1630px;
    padding-right: 16px;
    padding-bottom: rem;
    justify-content: space-between;
}
}