@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-SemiBold" ;
    src: url(../../fonts/PlusJakartaSans-SemiBold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Medium" ;
    src: url(../../fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular" ;
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Light" ;
    src: url(../../fonts/PlusJakartaSans-Light.ttf);
}

body {
    margin: 0;
    padding: 0;
 }

#motic {
    height:(100vh - 4rem);
    width: 90rem;
    margin: 0;
    /* padding-bottom: 4rem; */
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100%;

}

#motic .overlap-group-wrapper {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    }

    #motic .overlap-group {
    background-image: url(../../images/motic\ banner.png);
    background-size: 100% 100%;
    height: 876px;
    z-index: -1;
    }
    
.moticIntro {
  padding: 3.25rem 11.406rem 3.25rem 11.406rem;
  display: flex;
  flex-direction: row;
  background-color: #F4FBFF;
  gap:136px;
 
}

.projectIntro{
    width: 630px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.introTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

.introDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 680px;
}

.projectInfo{
    width: 365px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoRow{
    gap: 6px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoTitle{
    font-size: 1.375rem;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 1rem;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 28px;
    margin:0;
}

.challengeContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 220px;
    justify-content: center;
  
  }

.imgContainer{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

img.moticChallengeImg{
  width:1076px;
  padding:0 182px;
}

.sideContainer{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    gap: 136px;
    padding: 70px 182.5px 0 182.5px;
    
}

img.moticChallengeImg2{
  width:525px;
}
  
  .moticTextContainer{
    display: flex;
    flex-direction: column;

    width:414px;
    justify-content: center;
    gap:14px;
  }
  
.title{
      font-family: "PlusJakartaSans-Bold";
      font-size: 1.75rem ;
      color: #061736;
      line-height: 150%;
  }
  
    p#moticChallengeDescription.description{
      font-size: 1.25rem;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 28px;
      width:414px;
      margin:0;
  }
  
  .description{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:1075px;
    margin:0;
}

.moticSolutionContainer{
    gap: 60px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    padding: 0 182.5px 60px;
    width:1075px;
    justify-content: center;
    gap:14px;
  }

.videoOutsideContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 72px;
    margin:0;
    gap:30px;
}

.videoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 255.5px 96px 255.5px;
 background-color: #555555;
    margin:0;
    
}

.moticVideo{
 width: 785px;
 padding: 0;
 margin: 0;
 
}

.moticImgRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    gap: 30px;

}

img.moticSolutionItem{
 width: 633px;
 padding: 0;
 margin: 0;
}

.moticDesignContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    gap:60px;
  
  }  

.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
}

img.moticDesignImg{
  width:1076px;
  padding:0 182px;
}

.moticWireframeContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    gap:60px;
}

.moticImgList{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    row-gap: 30px;
    padding: 0 182.5px 0 182.5px;
}

img.moticWireframeImg1{
    width:1076px;
  }

  img.moticWireframeImg2{
    width:1076px;

  }

  .moticOutcomeContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
  }

  .moticOutcomeImgList{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    row-gap: 60px;
    padding: 0 72px 0 72px;
  }

  img.moticOutcomeImg1{
    width:1296px;
  }
  
  img.moticOutcomeImg2{
    width:1296px;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 6rem;
    justify-content: space-between;
}


