@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular" ;
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
 }

#installation {
    height:(100vh - 4rem);
    width: 90rem;
    margin: 0;
    /* padding-bottom: 4rem; */
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100%;
}

#installation .overlap-group-wrapper {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    }

    #installation .overlap-group {
        background-image: url(../../images/installation\ banner.png) ;
        background-size: 100% 100%;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        animation-delay: 3s; 
        -webkit-animation: fadeInFromNone 3s ease-out;
          -moz-animation: fadeInFromNone 3s ease-out;
          -o-animation: fadeInFromNone 3s ease-out;
          animation: fadeInFromNone 3s ease-out;
        }

        @-webkit-keyframes fadeInFromNone {
            0% {
                display: none;
                opacity: 0;
            }
          
            1% {
                display: block;
                opacity: 0;
            }
          
            100% {
                display: block;
                opacity: 1;
            }
          }
          
          @-moz-keyframes fadeInFromNone {
            0% {
                display: none;
                opacity: 0;
            }
          
            1% {
                display: block;
                opacity: 0;
            }
          
            100% {
                display: block;
                opacity: 1;
            }
          }
          
          @-o-keyframes fadeInFromNone {
            0% {
                display: none;
                opacity: 0;
            }
          
            1% {
                display: block;
                opacity: 0;
            }
          
            100% {
                display: block;
                opacity: 1;
            }
          }
          
          @keyframes fadeInFromNone {
            0% {
                display: none;
                opacity: 0;
            }
          
            1% {
                display: block;
                opacity: 0;
            }
          
            100% {
                display: block;
                opacity: 1;
            }
          }
    
.installationIntro {
  padding: 3.25rem 8.75rem 3.25rem 8.75rem;
  display: flex;
  flex-direction: column;
  background-color: #F4FBFF;
  gap: 30px;

}

.introTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 36px;
}

.introDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 36px;
    width: 1100px;
}

.installationResearch{
    /* width: 1440px; */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 110px 105px 220px 105px;
    justify-content: center;
    align-items: center;
    gap:60px

}

img.researchPhotos{
 width:1075px;
 margin: 0;
 padding:0;
}

div.installationResearchContainer{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
    column-gap: 14px;
    gap: 14px;

}

.installationResarchTitle{
    font-family: "PlusJakartaSans-Bold";
    font-size: 28px ;
    color: #061736;
    line-height: 36px;
}

.installationResearchDescription{
    font-size: 18px;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 28px;
    width:1075px;
}

.installationConcept{
    margin: 0;
    padding: 0;
    /* width: 1440px; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 110px 140px 220px 140px ;
    gap: 100px;
    align-items: center;
    justify-content: center;

    
}

.conceptImg {
    padding: 0;
    margin: 0;
    height: 870px;
    display: flex;
    
}

img .installationConceptImg{
 height: 870px;
 padding: 0;
 margin: 0;
}

.conceptContainer{
 padding: 0;
 margin: 0;
 width: 414px;
 display: flex;
 flex-direction: column;
 gap: 14px;

}

.conceptTitle{
    font-size: 28px;
    font-family: "PlusJakartaSans-Bold";
    color: #061736;
    line-height: 36px;
}

.conceptDescription{
    font-size: 18px;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 28px;
    width: 414px;
}

.installationImgContainer{
    display: flex;
    flex-direction: column;
    padding: 0 72px;
    row-gap: 70px;
    padding-bottom: 220px;
}

.installationImgList{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    
}

.installationImgRow{
    display: flex;
    flex-direction: row;
    gap: 70px;

}

img.installationWork{
    width: 1296px;
}

img.installationWorkItem{
 width: 614px;
 gap:70px;
}

.actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 6rem;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    html,body {
        margin: 0;
        padding: 0;
     }
    #installation {
        width: 768px;
    }
    
    #installation .overlap-group-wrapper {
        background-color: #ffffff;
        height: 100vh;
        width: 100vw;
        }
    
        #installation .overlap-group {
            background-image: url(../../images/installation\ banner.png) ;
            background-size: 100% 100%;
            height: 875.85;
            z-index: -1;
            }
        
    div.installationIntro {
      padding: 52px 80px;
      gap: 30px;
      margin: 0;
    }
    
    .introTitle{
        font-size: 2.5rem;
        font-family: "PlusJakartaSans-Bold";
        color: #163279;
        line-height: 150%;
    }
    
    p.introDescription{
        font-size: 1.25rem;
        font-family: "PlusJakartaSans-Regular";
        color:#061736;
        line-height: 150%;
        width: 608px;
        height: 112px;
    }
    
    .installationResearch{
        /* width: 1440px; */
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 110px 30px 220px 30px;
        justify-content: center;
        align-items: center;
        gap:60px
    
    }
    
    img.researchPhotos{
     width:708px;
     margin: 0;
     padding:0;
    }
    
    div.installationResearchContainer{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding:0;
        gap: 14px;
    
    }
    
    .installationResarchTitle{
        font-family: "PlusJakartaSans-Bold";
        font-size: 28px ;
        color: #061736;
        line-height: 150%;
    }
    
    .installationResearchDescription{
        font-size: 18px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width:708px;
    }
    
    .installationConcept{
        margin: 0;
        padding: 0;
        /* width: 1440px; */
        height: 1062px;
        display: flex;
        flex-direction: column;
        padding: 110px 30px 220px 30px ;
        gap: 60px;
        align-items: center;
        justify-content: center;
    
        
    }
    
    div.conceptImg {
        padding: 0 149px;
        margin: 0;
        width: 470px;
        display: absolute;
        justify-content: center;

        
    }
    
    img.installationConceptImg{
     height: 731px;
     width: 470px;
     padding: 0;
     margin: 0;
    }
    
    .conceptContainer{
     padding: 0;
     margin: 0;
     width: 708px;
     display: flex;
     flex-direction: column;
    
    }
    
    .conceptTitle{
        font-size: 28px;
        font-family: "PlusJakartaSans-Bold";
        color: #061736;
        line-height: 150%;
    }
    
    .conceptDescription{
        font-size: 18px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width: 708px;
    }
    
    .installationImgContainer{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        row-gap: 30px;
        padding-bottom: 220px;
    }
    
    .installationImgList{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        
    }
    
    .installationImgRow{
        display: flex;
        flex-direction: row;
        gap: 30px;
    
    }
    
    img.installationWork{
        width: 708px;
    }
    
    img.installationWorkItem{
     width: 340px;
     gap:30px;
    }
    
    .actionProject{
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 375px) {
    #installation {
        width: 375px;
    }
    
    #installation .overlap-group-wrapper {
        background-color: #ffffff;
        height: 427.47px;
        width: 100vw;
        }
    
        #installation .overlap-group {
            background-image: url(../../images/installation\ banner.png) ;
            background-size: 100% 100%;
            height: 427.47px;
            width: 100vw;
            z-index: -1;
            }
        
    div.installationIntro {
      padding: 25px 40px;
      gap: 20px;
      margin: 0;
    }
    
    .introTitle{
        font-size: 20px;
        font-family: "PlusJakartaSans-Bold";
        color: #163279;
        line-height: 150%;
    }
    
    p.introDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#061736;
        line-height: 150%;
        width: 295px;
        height: 70px;
    }
    
    .installationResearch{
        /* width: 1440px; */
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 55px 16px 110px 16px;
        justify-content: center;
        align-items: center;
        gap:30px
    
    }
    
    img.researchPhotos{
     width: 343px;
     margin: 0;
     padding:0;
    }
    
    div.installationResearchContainer{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding:0;
        gap: 6px;
    
    }
    
    .installationResarchTitle{
        font-family: "PlusJakartaSans-Bold";
        font-size: 14px ;
        color: #061736;
        line-height: 150%;
    }
    
    .installationResearchDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width:343px;
    }
    
    .installationConcept{
        margin: 0;
        /* width: 1440px; */
        height: 671.17px;
        display: flex;
        flex-direction: column;
        padding: 55px 16px 160px 16px ;
        gap: 30px;
        align-items: center;
        justify-content: center;
    
        
    }
    
    div.conceptImg {
        padding: 0 37px;
        margin: 0;
        width: 300px;
        display: absolute;
        justify-content: center;

        
    }
    
    img.installationConceptImg{
     height: 464.88px;
     width: 300px;
     padding: 0;
     margin: 0;
    }
    
    .conceptContainer{
     padding: 0;
     margin: 0;
     width: 343px;
     display: flex;
     flex-direction: column;
     gap: 6px;
    
    }
    
    .conceptTitle{
        font-size: 14px;
        font-family: "PlusJakartaSans-Bold";
        color: #061736;
        line-height: 150%;
    }
    
    p.conceptDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width: 343px;
        height: 176.3px;
    }
    
    .installationImgContainer{
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        row-gap: 10px;
        padding-bottom: 110px;
    }
    
    .installationImgList{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        
    }
    
    .installationImgRow{
        display: flex;
        flex-direction: row;
        gap: 10px;
    
    }
    
    img.installationWork{
        width: 343px;
    }
    
    img.installationWorkItem{
     width: 167px;
     gap:10px;
    }
    
    div.actionProject{
        display: flex;
        flex-direction: row;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 6rem;
        justify-content: space-between;
    }
}