html, body { margin: 0; padding: 0;}

@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url("../../fonts/PlusJakartaSans-Bold.ttf");
  }
  
  @font-face {
    font-family: "PlusJakartaSans-SemiBold" ;
    src: url("../../fonts/PlusJakartaSans-SemiBold.ttf");
  }
  
  @font-face {
    font-family: "PlusJakartaSans-Medium" ;
    src: url("../../fonts/PlusJakartaSans-Medium.ttf");
  }
  
  *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  body{
    font-family: "PlusJakartaSans-Medium";
  }
  
  a{
    text-decoration: none;
  }
  
  ul{
    list-style: none;
  }
  
  header{
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    padding: 20px 75px 10px 75px;
    margin: 0;
    align-items: center;
    animation: slideTop 1s ease forwards ;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100vw;;
  }

  @keyframes slideTop {
    0%{
      transform: translateY(100px);
      opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }

  .logo{
    display: flex;
    align-items: left;
    margin-right: 600px;
  }
  
  .logo img {
    width: 90px;
    margin-right: 0;
    /* border-radius: 50%; */
  
  }
  
  .header_logo{
    /* color: #eee;
    font-weight: 600; */
  } 
  
  .nav_list{
    display: flex;
    align-items: center;
    justify-items: end;
    gap:45px;
  }
  
  .nav_item{
    margin: 0;
  }
  
  a.nav-link{
    padding: 10px;
    color: #163279;
    font-size: 20px ;
    font-family: "PlusJakartaSans-Medium";
    text-decoration: none;
  }
  
  .nav-link:hover{
    color: #0066cc;
    text-decoration: none;
  }
  
  .header_toggle,
  .header_close{
    display: none;
  }
  
  @media screen and  (max-width:768px) {
    header {
      height: 140px;
      justify-content: space-between;
      padding: 40px 30px 10px 30px;
    }
    
    .logo{
        margin-right: 146px;
    }

    .logo img{
      width: 90px;
    }
  
    .header_toggle{
      display: inline;
      color:#163279;
      font-size: 40px;
    }
  
    .header_close{
      padding: 40px 30px 0 0;
      position: absolute;
      color: #B0A4A4;
      right: 10px;
      top: 60px;
      display: block;
      font-size: 40px;
      border-radius: 20%;
    }
  
    .header_close:hover{
      color: #0066cc;
      cursor: pointer;
    }
 

    .nav{
      position: fixed;
      top: 0;
      /* right:-100%; */
      right: -120%;
      background-color: #163279;
      color: #fff;
      /* width: 100vw;; */
      width: 100vw;;
      height: 100vh;
      padding: 24px 0;
      z-index: 100;
      transition: 0.5s;
      border-radius: 0 0 0 0;
      cursor: pointer;
      display:none;
  
    }
  
    .nav_list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 150px 0;
      cursor: pointer;
    }

    a.nav-link{
        color: #fff;
        font-size: 30px;
        font-family: "PlusJakartaSans-SemiBold" ;
        cursor: pointer;
    } 

    .nav-link:hover{
        color: #0066cc;
    } 

    .nav_item{
      margin: 1rem 0;
      cursor: pointer;
    }
  
    .show{
      right:0;
      display:block;
    }
  }

  @media screen and  (max-width:480px) {
    header {
      height: 100px;
      width: 343px;
      justify-content: space-between;
      padding: 10px 16px 10px 16px;
      margin: 0;
      gap: -32px ;
    }
    
    .logo{
        margin-right: 0;
    }

    .logo img{
      width: 45px;
    }
  
    .header_toggle{
      display: inline;
      color:#163279;
      font-size: 30px;
      right: 10px;
      position: fixed;
      z-index: 100;
    }
  
    .header_close{
      padding: 10px 16px 0 0;
      position: absolute;
      color: #B0A4A4;
      top: 35px;
      right:10px;
      display: block;
      font-size: 30px;
      border-radius: 20%;
    }
  
    .header_close:hover{
      color: #0066cc;
      cursor: pointer;
    }
 

    .nav{
      position:absolute;
      top: 0;
      right: -100%;
      background-color: #163279;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 100vw;
      height: 600px;
      padding: 24px 0;
      z-index: 10000000;
      transition: 0.5s;
      border-radius: 0 0 0 0;
      cursor: pointer;
       /* fix update */
      display:none;
       
    }
  
    .nav_list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:20px;
    }

    a.nav-link{
        color: #fff;
        font-size: 24px;
        font-family: "PlusJakartaSans-SemiBold" ;
        cursor: pointer;
    } 

    a.nav-link:hover{
        color: #0066cc;
    } 

    .nav_item{
      margin-top: 0.4rem;
      margin-right: 1.5rem;
      cursor: pointer;
 
    }
  
    .show{
      right:0;
      display:flex;
  }
}
