@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url("../../fonts/PlusJakartaSans-Bold.ttf");
}

/* .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  } */

.resumeBtn {
    background-color: #ffffff;
    border-radius: 10px;
    color: #163279;
    border: 1px solid;
    border-color: #163279;
    padding: 10px 40px;
    /* display: flex; */
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "PlusJakartaSans-Bold";
  }

.resumeBtn:hover {
    border:1px solid;
    border: color #06c;;
    background-color: #ffffff;
    color: #0066CC;
  }

  @media screen and  (max-width:480px) {
    .resumeBtn {
      background-color: #ffffff;
      border-radius: 5px;
      color: #163279;
      border: 1px solid;
      border-color: #163279;
      padding: 5px 20px;
      /* display: flex; */
      font-size: 9px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      font-family: "PlusJakartaSans-Bold";
    }
  }