@font-face {
    font-family: "PlusJakartaSans-ExtraBold" ;
    src: url(../../fonts/PlusJakartaSans-ExtraBold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular" ;
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}


body {
    margin: 0;
    padding: 0;
 }

#timeline{
    height:(100vh - 4rem);
    width: 90rem;
    margin: 0;
    /* padding-bottom: 4rem; */
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100vw;;
    padding-top: 110px;
    padding-bottom: 220px;
}

.timelineContainer{

    width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap:110px;
    justify-content: center;

}

.timelineTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.timelineTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-ExtraBold";
    color:#061736;
    line-height: 150%;
}

.sfcTimeline{
    width: 1223px;
    gap: 45px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 107px;
}

.eipSpeechBubbleContainer{
    padding-top: 414px;
    margin: 0;
    display: flex;

}


.eipProjectSpeechBubble{
    padding: 41px 43px 41px 43px;
    display: flex;
    flex-direction: column;
    height: 420px;
    margin: 0;
    border-radius: 20px;
    background-color: #ffffff;
	filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3));
}

.eipProjectTextContainer{
    display: flex;
    flex-direction: column;
    padding: 0 ;
    width:462px;
    justify-content: center;
    gap:18px;
}

.sfcProjectDescription{
    font-size: 1.125rem;
    font-family: "PlusJakartaSans-Regular";
    color:#8F9398;
    line-height: 150%;
}

.eipProjecTitleContainer{
    display: flex;
    flex-direction: column;
    padding: 0 ;
    justify-content: center;
    gap:10px;
}

.yearTitle{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Bold";
    color:#0066CC;
    line-height: 150%;
}

.sfcProjectTitle{
    font-size: 1.375rem;
    font-family: "PlusJakartaSans-Bold";
    color:#061736;
    line-height: 150%;
}

.sfctimelineVectorContainer{
    padding-top:166x;
    margin-top: 166px;
    display: flex;
}

.timelineVectorContainer{
    margin:0;
    gap: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nextGenSpeechBubbleContainer{
    padding-bottom: 595px;
    margin: 0;
    display: flex;

}


.nextGenProjectSpeechBubble{
    padding: 41px 43px 41px 43px;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 20px;
    background-color: #ffffff;
    filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3));
}

.nextGenProjectTextContainer{
    display: flex;
    flex-direction: column;
    padding: 0 ;
    width:462px;
    gap:18px;
}

.nextGenProjecTitleContainer{
    display: flex;
    flex-direction: column;
    padding: 0 ;
    justify-content: center;
    gap:10px;
}

.btnContainer{
    padding-top: 30px;
    padding-right: 280px;
    margin:0;

}

@media screen and (max-width:1366px) {
    #timeline{
        width: 100vw;
        padding-top: 110px;
        padding-bottom: 300px;
    }
    
    .timelineContainer{
        width:100vw;
        display: flex;
        flex-direction: column;
        gap:110px;
        justify-content: center;
    
    }
    
    .timelineTitleContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .timelineTitle{
        font-size: 2.5rem;
        font-family: "PlusJakartaSans-ExtraBold";
        color:#061736;
        line-height: 150%;
    }
    
    .sfcTimeline{
        width: 100vw;
        gap: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 85px;
    }
    
    .eipSpeechBubbleContainer{
        padding-top: 570px;
        margin: 0;
        display: flex;
    
    }
    
    
    .eipProjectSpeechBubble{
        padding: 38px 40px 38px 40px;
        display: flex;
        flex-direction: column;
        height: 400px;
        margin-left: 3rem;
        border-radius: 20px;
        background-color: #ffffff;
        filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3));
    }
    
    .eipProjectTextContainer{
        display: flex;
        flex-direction: column;
        padding: 0 ;
        width:440px;
        justify-content: center;
        gap:17px;
    }
    
    .sfcProjectDescription{
        font-size: 17px;
        font-family: "PlusJakartaSans-Regular";
        color:#8F9398;
        line-height: 150%;
    }
    
    .eipProjecTitleContainer{
        display: flex;
        flex-direction: column;
        padding: 0 ;
        justify-content: center;
        gap:9px;
    }
    
    .yearTitle{
        font-size: 18px;
        font-family: "PlusJakartaSans-Bold";
        color:#0066CC;
        line-height: 150%;
    }
    
    .sfcProjectTitle{
        font-size: 20px;
        font-family: "PlusJakartaSans-Bold";
        color:#061736;
        line-height: 150%;
    }
    
    .sfctimelineVectorContainer{
        padding-top:0;
        margin-top: -900px;
        display: flex;

    }
    
    .timelineVectorContainer{
        margin:0;
        gap: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .nextGenSpeechBubbleContainer{
        padding-bottom: 0;
        margin: 0;
        display: flex;
    
    }
    
    
    .nextGenProjectSpeechBubble{
        padding: 38px 40px 38px 40px;
        display: flex;
        flex-direction: column;
        margin-top: -1000px;
        height: 320px;
        margin-left: 3rem;
        border-radius: 20px;
        background-color: #ffffff;
        filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3));
    }
    
    .nextGenProjectTextContainer{
        display: flex;
        flex-direction: column;
        padding: 0 ;
        width:437px;
        gap:17px;
    }
    
    .nextGenProjecTitleContainer{
        display: flex;
        flex-direction: column;
        padding: 0 ;
        justify-content: center;
        gap:10px;
    }
    
    .btnContainer{
        padding-top: 28px;
        padding-right: 280px;
        margin:0;
    
    } 
}

@media screen and (max-width:480px) {
    #timeline{
        width: 100vw;
        padding-top: 0;
        padding-bottom: 110px;
    }
    
    .timelineContainer{
        /* width:600px; */
        width:100vw;;
        display: flex;
        flex-direction: column;
        gap:55px;
        justify-content: center;
        height:110vh;
    }
    
    .timelineTitleContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .timelineTitle{
        font-size: 16px;
        font-family: "PlusJakartaSans-ExtraBold";
        color:#061736;
        line-height: 150%;
    }
    
    .sfcTimeline{
        width: 100vw;
        gap: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 16px;
    }
    
    .eipSpeechBubbleContainer{
        padding-top: 350px;
        margin: 0;
        display: flex;
    
    }
    
    
    .eipProjectSpeechBubble{
        padding: 22px 23px 22px 23px;
        display: flex;
        flex-direction: column;
        height: 241px;
        margin-left: 3rem;
        border-radius: 20px;
        background-color: #ffffff;
        filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3));
    }
    
    .eipProjectTextContainer{
        display: flex;
        flex-direction: column;
        padding: 0 ;
        width:249px;
        justify-content: center;
        gap:10px;
    }
    
    .sfcProjectDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#8F9398;
        line-height: 150%;
    }
    
    .eipProjecTitleContainer{
        display: flex;
        flex-direction: column;
        padding: 0 ;
        justify-content: center;
        gap:5px;
    }
    
    .yearTitle{
        font-size: 12px;
        font-family: "PlusJakartaSans-Bold";
        color:#0066CC;
        line-height: 150%;
    }
    
    .sfcProjectTitle{
        font-size: 12px;
        font-family: "PlusJakartaSans-Bold";
        color:#061736;
        line-height: 150%;
    }
    
    .sfctimelineVectorContainer{
        padding-top:0;
        margin-top: -550px;
        display: flex;
        

    }
    svg{
        /* width: 70%;
        height: 70%; */
        /* width: 15%;
        height: 20%; */
        width:30px;
        height: 70vw;
    }
    .timelineVectorContainer{
        margin:0;
        gap: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }
    
    .nextGenSpeechBubbleContainer{
        padding-bottom: 0;
        margin: 0;
        display: flex;
        width: 299px;
    
    }
    
    
    .nextGenProjectSpeechBubble{
        padding: 22px 23px 22px 23px;
        display: flex;
        flex-direction: column;
        margin-top: -640px;
        height: 230px;
        margin-left: 3rem;
        border-radius: 20px;
        background-color: #ffffff;
        filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3));
    }
    
    .nextGenProjectTextContainer{
        display: flex;
        flex-direction: column;
        padding: 0 ;
        width:249px;
        gap:17px;
    }
    
    .nextGenProjecTitleContainer{
        display: flex;
        flex-direction: column;
        padding: 0 ;
        justify-content: center;
        gap:10px;
    }
    
    .btnContainer{
        padding-top: 20px;
        padding-right: 100px;
        margin:0;
    
    } 
}