@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-SemiBold" ;
    src: url(../../fonts/PlusJakartaSans-SemiBold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Medium" ;
    src: url(../../fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular" ;
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Light" ;
    src: url(../../fonts/PlusJakartaSans-Light.ttf);
}


body {
    margin: 0;
    padding: 0;
 }

#empf {
    height:(100vh - 4rem);
    width: 90rem;
    margin: 0;
    /* padding-bottom: 4rem; */
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100vw;;

}

#empf .overlap-group-wrapper {
    background-color: #ffffff;
    height: fit-content;
    width: 100vw;
    }

    #empf .overlap-group {
    background-image: url(../../images/empf\ banner.png);
    background-size: 100% 100%;
    height: 876px;
    width:1440px;
    z-index: -1;
    animation-delay: 3s; 
    -webkit-animation: fadeInFromNone 3s ease-out;
      -moz-animation: fadeInFromNone 3s ease-out;
      -o-animation: fadeInFromNone 3s ease-out;
      animation: fadeInFromNone 3s ease-out;
    }
    
    @-webkit-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-moz-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-o-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
    
.empfIntro {
  padding: 3.25rem 11.406rem 3.25rem 11.406rem;
  display: flex;
  flex-direction: row;
  background-color: #F4FBFF;
  gap:136px;
 
}

.empfProjectIntro{
    width: 630px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.empfIntroTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

.empfIntroDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 680px;
}

.projectInfo{
    width: 365px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoRow{
    gap: 6px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.infoTitle{
    font-size: 1.375rem;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 1rem;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 28px;
    margin:0;
}


.empfProjectGoalContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
  
  }
  
  .empfTextContainer{
    display: flex;
    flex-direction: column;
    padding: 0 182.5px 60px;
    width:1075px;
    justify-content: center;
    gap:14px;
  }

  .empfDescriptionContainer{
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin: 0;
    padding: 0;
  }
  
  .empfTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 1.75rem ;
      color: #061736;
      line-height: 150%;
  }

  .empfDot{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    margin:0;
}
  
  .empfGoalDescription{
      font-size: 18px;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 150%;
      width:1050px;
      margin:0;
  }

  .imgContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
}

img.empfGoalImg{
  width:1075px;
  padding:0 182.5px;


}

.empfDesignContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
}

.empfDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:1076px;
    margin:0;
}

.empfDesignImgContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding-top: 60px;

    
}


img.empfDesignImg{
    width:1020px;
    padding: 0 210px;
}

.empfUI{
  width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
    gap: 136px;
}

.empfUIImgContainer{
   display: flex;
   margin: 0;
   padding-left: 182px;
}

img.empfUIImg{
  width: 508px;
  
}

.empfUIContainer{
    padding: 0;
    margin: 0;
    width: 414px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 182px;
    gap: 14px;
}


.subtitle{
    font-family: "PlusJakartaSans-SemiBold";
    font-size: 1.25rem ;
    color: #979797;
    line-height: 150%;
}

.empfUIDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:414px;
    margin:0;

}

.empfDesignSystemContainer{
  width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
}

img.empfDesignSystemImg{
    width: 1075px;
    padding: 0 182.5px;
}

.empfDesignSystemBtnContainer{
    padding-top: 18px;
    margin:0;
    display: flex;
  }

  .empfDevelopmentContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
  }


  .empfDevelopmentImgContainer{
    display: flex;
    margin: 0;
  }

  .empfDevelopmentImg{
    width: 1052px;
    padding: 0 194px;
  }

  .empfPrototypeContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
  }

  .empfPrototypeBtnContainer{
    padding-top: 18px;
    margin:0;
    display: flex;
  }

  .empfPrototypeImgContainer{
    width: 1296px;
    display: flex;
    padding: 0 72px;
    color: #F5F5F5;
    margin: 0;
  }

  img.empfPrototypeImg{
    width: 786px;
    padding: 96px 255px;
    background-color: #F5F5F5;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 6rem;
    justify-content: space-between;
}

@media screen and  (max-width:1366px) {
  #empf {
    width: 1000vw;

}

#empf .overlap-group-wrapper {
    background-color: #ffffff;
    height:fit-content;
    width: 100vw;
    }

    #empf .overlap-group {
    background-image: url(../../images/empf\ banner\ ipad.png);
    background-size: 100% 100%;
    height: 876px;
    width:100vw;;
    z-index: -1;
    }
    
.empfIntro {
  height: 730px;
  padding: 52px 80px;
  gap:67px;
 
}

.empfProjectIntro{
    width: 331px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.empfIntroTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

.empfIntroDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 331px;
    height: 504px;
}

.projectInfo{
    width: 365px;
    gap: 30px;

}

.infoRow{
    gap: 6px;

}

.infoTitle{
    font-size: 1.375rem;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 1rem;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 150%;
    margin:0;
}


.empfProjectGoalContainer{
    width: 100vw;
    padding-top: 110px;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
  
  }
  
  .empfTextContainer{
    display: flex;
    flex-direction: column;
    padding: 0 30px 60px;
    width:708px;
    justify-content: center;
    gap:14px;
  }

  .empfDescriptionContainer{
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin: 0;
    padding: 0;
  }
  
  .empfTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 1.75rem ;
      color: #061736;
      line-height: 150%;
  }

  .empfDot{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    margin:0;
}
  
  .empfGoalDescription{
      font-size: 1.25rem;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 150%;
      width:708px;
      margin:0;
  }

  .imgContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
}

img.empfGoalImg{
  width:708px;
  padding:0 30px;
}

.empfDesignContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
}

.empfDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:708px;
    margin:0;
}

.empfDesignImgContainer{
    padding-top: 60px;

    
}


img.empfDesignImg{
    width:708px;
    padding: 0 30px;
}

.empfUI{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.empfUIImgContainer{
   display: flex;
   margin: 0;
   padding-left: 20px;
}

img.empfUIImg{
  width: 508px;
}

.empfUIContainer{
    padding: 0;
    margin: 0;
    width: 708px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}


.empfSubtitle{
    font-family: "PlusJakartaSans-SemiBold";
    font-size: 1.25rem ;
    color: #979797;
    line-height: 150%;
}

.empfUIDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:708px;
    margin:0;

}

.empfDesignSystemContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
}

img.empfDesignSystemImg{
    width: 708px;
    padding: 0 30px;
}

.empfDesignSystemBtnContainer{
    padding-top: 18px;
    margin:0;
    display: flex;
  }

  .empfDevelopmentContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
  }


  .empfDevelopmentImgContainer{
    display: flex;
    margin: 0;
  }

  .empfDevelopmentImg{
    width: 708px;
    padding: 0 30px;
  }

  .empfPrototypeContainer{
    width: 100vw;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
  }

  .empfPrototypeBtnContainer{
    padding-top: 18px;
    margin:0;
    display: flex;
  }

  .empfPrototypeImgContainer{
    width: 100vw;
    display: flex;
    padding: 0 30px;
    color: #f5f5f5;
    margin: 0;
  }

  img.empfPrototypeImg{
    width: 588px;
    padding: 76px 60px;
    margin: 0 30px;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 6rem;
    justify-content: space-between;
}

}

@media screen and  (max-width:480px) {
  #empf {
    width: 100vw;

}

#empf .overlap-group-wrapper {
    background-color: #ffffff;
    height:fit-content;
    width: 100vw;
    }

    #empf .overlap-group {
    background-image: url(../../images/empf\ banner\ ipad.png);
    background-size: 100% 100%;
    height: 427px;
    width:600px;
    z-index: -1;
    }
    
.empfIntro {
  height: 376px;
  padding: 25px 40px;
  gap:32px;
 
}

.empfProjectIntro{
    width: 161px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.empfIntroTitle{
    font-size: 20px;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

.empfIntroDescription{
    font-size: 10px;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 161px;
    height: 288px;
}

.projectInfo{
    width: 268px;
    gap: 14px;

}

.infoRow{
    gap: 3px;

}

.infoTitle{
    font-size: 10px;
    font-family: "PlusJakartaSans-Medium";
    color:#061736;
    line-height: 150%;
    margin:0;
}

.infoDescription{
    font-size: 10px;
    font-family: "PlusJakartaSans-Light";
    color:#636871;
    line-height: 150%;
    margin:0;
}


.empfProjectGoalContainer{
    width: 100vw;
    padding-top: 55px;
    padding-bottom: 110px;
    justify-content: center;
    align-items: center;
  
  }
  
  .empfTextContainer{
    display: flex;
    flex-direction: column;
    padding: 0 16px 30px;
    width:343px;
    justify-content: center;
    gap:10px;
  }

  .empfDescriptionContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
    padding: 0;
  }
  
  .empfTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 14px ;
      color: #061736;
      line-height: 150%;
  }

  .empfDot{
    font-size: 10px;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    margin:0;
}
  
  .empfGoalDescription{
      font-size: 10px;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 150%;
      width:343px;
      margin:0;
  }

  .imgContainer{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
}

img.empfGoalImg{
  width:343px;
  padding:0 16px;
}

.empfDesignContainer{
    width: 100vw;
    padding-bottom: 110px;
    justify-content: center;
    align-items: center;
}

.empfDescription{
    font-size: 10px;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:343px;
    margin:0;
}

.empfDesignImgContainer{
    padding-top: 30px;

    
}


img.empfDesignImg{
    width:343px;
    padding: 0 16px;
}

.empfUI{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 110px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.empfUIImgContainer{
   display: flex;
   margin: 0;
   padding-left: 10px;
}

img.empfUIImg{
  width: 290px;
}

.empfUIContainer{
    padding: 0;
    margin: 0;
    width: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.empfSubtitle{
    font-family: "PlusJakartaSans-SemiBold";
    font-size: 14px ;
    color: #979797;
    line-height: 150%;
}

.empfUIDescription{
    font-size: 10px;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:343px;
    margin:0;

}

.empfDesignSystemContainer{
    width: 100vw;
    padding-bottom: 110px;
    justify-content: center;
    align-items: center;
}

img.empfDesignSystemImg{
    width: 343px;
    padding: 0 16px;
}

.empfDesignSystemBtnContainer{
    padding-top: 10px;
    margin:0;
    display: flex;
  }

  .empfDevelopmentContainer{
    width: 100vw;
    padding-bottom: 110px;
    justify-content: center;
    align-items: center;
  }


  .empfDevelopmentImgContainer{
    display: flex;
    margin: 0;
  }

  .empfDevelopmentImg{
    width: 343px;
    padding: 0 16px;
  }

  .empfPrototypeContainer{
    width: 100vw;
    padding-bottom: 110px;
    justify-content: center;
    align-items: center;
  }

  .empfPrototypeBtnContainer{
    padding-top: 10px;
    margin:0;
    display: flex;
  }

  .empfPrototypeImgContainer{
    width: 100vw;
    display: flex;
    padding: 0 16px;
    color: #f5f5f5;
    margin: 0;
  }

  img.empfPrototypeImg{
    width: 284px;
    padding: 36px 30px;
    margin: 0 16px;
  }

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 55px;
    justify-content: space-between;
}

}

