@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular" ;
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
 }

#experience {
    height:(100vh - 4rem);
    width: 90rem;
    margin: 0;
    /* padding-bottom: 4rem; */
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100vw;
    animation-delay: 3s; 
    -webkit-animation: fadeInFromNone 3s ease-out;
      -moz-animation: fadeInFromNone 3s ease-out;
      -o-animation: fadeInFromNone 3s ease-out;
      animation: fadeInFromNone 3s ease-out;

}

#experience .overlap-group-wrapper {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    }

    #experience .overlap-group {
    background-image: url(../../images/experience\ banner.png);
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    }


    @-webkit-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-moz-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-o-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
    
.experienceIntro {
  padding: 3.25rem 8.75rem 3.25rem 8.75rem;
  display: flex;
  flex-direction: column;
  background-color: #F4FBFF;
  gap: 30px;
}

.introTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 36px;
}

.introDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 36px;
    width: 1100px;
}


.experienceConcept{
    margin: 0;
    padding: 0;
    /* width: 1440px; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 110px 140px 220px 140px ;
    gap: 81px;
    
}

img .experienceConceptImg{
 width: 570px;
 padding: 0;
 margin: 0;
 background-color: #F4FBFF;
 color: #F4FBFF;
}

.conceptContainer{
 padding: 0;
 margin: 0;
 width: 414px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 14px;
}

.conceptTitle{
    font-size: 1.75rem;
    font-family: "PlusJakartaSans-Bold";
    color: #061736;
    line-height: 36px;
}

.conceptDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 28px;
}

.experienceDesign{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap:60px;
    padding: 0 182px 60px;
  }

  .experienceDesignContainer{
    display: flex;
    flex-direction: column;
  }
  
  .experienceDesignTitle{
      font-family: "PlusJakartaSans-Bold";
      font-size: 1.75rem ;
      color: #061736;
      line-height: 36px;
      padding-bottom: 14px;
  }
  
  .experienceDesignDescription{
      font-size: 1.25rem;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 28px;
      width:1075px;
  }

  img.experienceDesignImg{
    width: 1076px;
  }

  
.experienceOutcome{
    margin: 0;
    padding: 0;
    /* width: 1440px; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 110px 182px 220px 182px ;
    gap: 81px;
    
}

.videoContainer{
    padding: 60px 110px 60px 110px;
    margin:0;
    background-color: #f6f9ff;
    display: flex;
    justify-content: center;
}

iframe{
 width: 360px;
 height: 634px;
 padding: 0;
 margin: 0;
 
}

.outcomeContainer{
 padding: 0;
 margin: 0;
 width: 414px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 14px;
}

.outcomeTitle{
    font-size: 1.75rem;
    font-family: "PlusJakartaSans-Bold";
    color: #061736;
    line-height: 36px;
}

.outcomeDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 28px;
}

  .actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 6rem;
    justify-content: space-between;
}

@media screen and (max-width:1366px) {
    #experience {
        width: 100vw;
    
    }
    
    #experience .overlap-group-wrapper {
        background-color: #ffffff;
        height: 100vh;
        width: 100vw;
        }
    
        #experience .overlap-group {
        background-image: url(../../images/experience\ banner\ ipad.png);
        background-size: 100% 100%;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        }
        
    .experienceIntro {
      padding: 52px 80px 88px 80px;
      height: 200px;
    }
    
    .introTitle{
        font-size: 2.5rem;
        font-family: "PlusJakartaSans-Bold";
        color: #163279;
        line-height: 150%;
    }
    
    #experience p.introDescription {
        font-size: 1.25rem;
        font-family: "PlusJakartaSans-Regular";
        color:#061736;
        line-height: 150%;
        width: 86vw;
        height:22vh;
    }
    
    
    .experienceConcept{
        margin: 0;
        padding: 0;
        /* width: 1440px; */
        height: 115vh;
        display: flex;
        flex-direction: column;
        padding: 110px 30px 220px 30px ;
        gap: 60px;
        
    }
    
    img.experienceConceptImg{
     width: 65vw;
     height:65vw;
     padding: 0 15vw;
     margin: 0;
     background-color: #F4FBFF;
     color: #F4FBFF;
    }
    
    div.conceptContainer{
     padding: 0;
     margin: 0;
     height: 150px;
     width: 95vw;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     margin-top: 0;
    }
    
    .conceptTitle{
        font-size: 28px;
        font-family: "PlusJakartaSans-Bold";
        color: #061736;
        line-height: 150%;
    }
    
    p.conceptDescription{
        font-size: 18px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width: 95vw;
        height: 18vh;
    }
    
    .experienceDesign{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 30px 220px;
        justify-content: center;
        gap:60px;
      }
    
      .experienceDesignContainer{
        display: flex;
        flex-direction: column;
        row-gap: 0;
      }
      
      .experienceDesignTitle{
          font-family: "PlusJakartaSans-Bold";
          font-size: 28px ;
          color: #061736;
          line-height: 150%;
      }
      
      .experienceDesignDescription{
          font-size: 18px;
          font-family: "PlusJakartaSans-Regular";
          color:#474A58;
          line-height: 150%;
          width:94vw;
      }
    
      img.experienceDesignImg{
        width: 94vw;
      }
    
      
    .experienceOutcome{
        margin: 0;
        padding: 0;
        /* width: 1440px; */
        height: 120vh;
        display: flex;
        flex-direction: column;
        padding: 0 30px 220px 30px ;
        gap: 60px;
        
    }
    
    .videoContainer{
        /* padding: 60px 110px 60px 110px; */
        padding: 6vw 10vh;
        margin:0;
        background-color: #f6f9ff;
        display: flex;
        justify-content: center;
    }
    
    iframe{
        width: 90vw;
        height: 50vw;
        padding: 0;
        margin: 0;
        
       }
    
    .outcomeContainer{
     padding: 0;
     margin: 0;
     width: 708px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
    
    .outcomeTitle{
        font-size: 28px;
        font-family: "PlusJakartaSans-Bold";
        color: #061736;
        line-height: 150%;
    }
    
    .outcomeDescription{
        font-size: 18px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width: 95vw;
    }
    
    div.actionProject{
        display: flex;
        flex-direction: row;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

@media screen and (max-width:820px) {
    #experience {
        width: 100vw;
    
    }
    
    #experience .overlap-group-wrapper {
        background-color: #ffffff;
        height: 100vh;
        width: 100vw;
        }
    
        #experience .overlap-group {
        background-image: url(../../images/experience\ banner\ ipad.png);
        background-size: 100% 100%;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        }
        
    .experienceIntro {
      padding: 52px 80px 88px 80px;
      height: 234px;
    }
    
    .introTitle{
        font-size: 2.5rem;
        font-family: "PlusJakartaSans-Bold";
        color: #163279;
        line-height: 150%;
    }
    
    p.introDescription {
        font-size: 1.25rem;
        font-family: "PlusJakartaSans-Regular";
        color:#061736;
        line-height: 150%;
        width: 608px;
        
    }
    
    
    .experienceConcept{
        margin: 0;
        padding: 0;
        /* width: 1440px; */
        height: 750px;
        display: flex;
        flex-direction: column;
        padding: 110px 30px 220px 30px ;
        gap: 60px;
        
    }
    
    img.experienceConceptImg{
     width: 60vw;
     height:60vw;
     padding: 0 15vw;
     margin: 0;
     background-color: #F4FBFF;
     color: #F4FBFF;
    }
    
    div.conceptContainer{
     padding: 0 0vw;
     margin: 0;
     height: 187px;
     width: 700px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top: 0;
    }
    
    .conceptTitle{
        font-size: 28px;
        font-family: "PlusJakartaSans-Bold";
        color: #061736;
        line-height: 150%;
    }
    
    p.conceptDescription{
        font-size: 18px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width: 90vw;
        height: 20vh;
    }
    
    div.experienceDesign{
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 30px 220px;
        justify-content: flex-start;
        gap:60px;
      }
    
      .experienceDesignContainer{
        display: flex;
        flex-direction: column;
        row-gap: 0;
      }
      
      .experienceDesignTitle{
          font-family: "PlusJakartaSans-Bold";
          font-size: 28px ;
          color: #061736;
          line-height: 150%;
      }
      
      .experienceDesignDescription{
          font-size: 18px;
          font-family: "PlusJakartaSans-Regular";
          color:#474A58;
          line-height: 150%;
          width:708px;
      }
    
      img.experienceDesignImg{
        width: 708px;
      }
    
      
    .experienceOutcome{
        margin: 0;
        padding: 0;
        /* width: 1440px; */
        height: 810px;
        display: flex;
        flex-direction: column;
        padding: 0 30px 220px 30px ;
        gap: 60px;
        
    }
    
    .videoContainer{
        /* padding: 60px 110px 60px 110px; */
        padding: 6vw 10vh;
        margin:0;
        background-color: #f6f9ff;
        display: flex;
        justify-content: center;
    }
    
    iframe{
        width: 90vw;
        height: 50vw;
        padding: 0;
        margin: 0;
        
       }
    
    .outcomeContainer{
     padding: 0;
     margin: 0;
     width: 708px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
    
    .outcomeTitle{
        font-size: 28px;
        font-family: "PlusJakartaSans-Bold";
        color: #061736;
        line-height: 150%;
    }
    
    .outcomeDescription{
        font-size: 18px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width: 708px;
    }
    
    div.actionProject{
        display: flex;
        flex-direction: row;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

@media screen and (max-width:480px) {
    /* #experience div.content{
        height: 395vh;
        } */
    #experience {
        width: 100vw;
    
    }
    
    #experience .overlap-group-wrapper {
        background-color: #ffffff;
        height: 427px;
        width: 100vw;
        }
    
        #experience .overlap-group {
        background-image: url(../../images/experience\ banner\ ipad.png);
        background-size: 100% 100%;
        height: 427px;
        z-index: -1;
        }
        
    .experienceIntro {
      padding: 25px 40px;
      height: 156px;
      gap: 20px;
    }
    
    .introTitle{
        font-size: 20px;
        font-family: "PlusJakartaSans-Bold";
        color: #163279;
        line-height: 150%;
    }
    
    p.introDescription {
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#061736;
        line-height: 150%;
        width: 310px;
        
    }
    
    
    .experienceConcept{
        margin: 0;
        padding: 0;
        /* width: 1440px; */
        height: 520px;
        display: flex;
        flex-direction: column;
        padding: 55px 16px 0px 16px ;
        gap: 30px;
        
    }
    
    img .experienceConceptImg{
     width: 280px;
     height:319.2px;
     padding: 0;
     margin: 0;
     background-color: #F4FBFF;
     color: #F4FBFF;
    }
    
    div.conceptContainer{
     padding: 0;
     margin: 0;
     height: 50vh;
     width: 50vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 6px;
    }
    
    .conceptTitle{
        font-size: 14px;
        font-family: "PlusJakartaSans-Bold";
        color: #061736;
        line-height: 150%;
    }
    
    p.conceptDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width: 343px;
        height: 82px;
    }
    
    div.experienceDesign{
        width: 100vw;
        height: 380px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 16px 110px 16px;
        justify-content: center;
        gap:30px;
      }
    
      .experienceDesignContainer{
        display: flex;
        flex-direction: column;
        row-gap: 0;
      }
      
      .experienceDesignTitle{
          font-family: "PlusJakartaSans-Bold";
          font-size: 14px ;
          color: #061736;
          line-height: 150%;
          padding-bottom: 6px;
      }
      
      .experienceDesignDescription{
          font-size: 10px;
          font-family: "PlusJakartaSans-Regular";
          color:#474A58;
          line-height: 150%;
          width:358px;
      }
    
      img.experienceDesignImg{
        width: 358px;
      }
    
      
    .experienceOutcome{
        margin: 0;
        padding: 5vw 5vw;
        /* width: 1440px; */
        height: 600px;
        display: flex;
        flex-direction: column;
        padding: 0 16px 110px 16px ;
        gap: 30px;
        
    }
    
    .videoContainer{
        padding: 33px 57px 33px 57px;
        margin:0;
        background-color: #f6f9ff;
        display: flex;
        justify-content: center;
    }
    
    iframe{
     width: 184px;
     height: 332px;
     padding: 0;
     margin: 0;
     
    }
    
    .outcomeContainer{
     padding: 0;
     margin: 0;
     width: 343px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
    
    .outcomeTitle{
        font-size: 14px;
        font-family: "PlusJakartaSans-Bold";
        color: #061736;
        line-height: 150%;
    }
    
    .outcomeDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width: 343px;
    }
    
    #experience div.actionProject{
        display: flex;
        flex-direction: row;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 6rem;
        justify-content: space-between;
    }
    
}