@font-face {
    font-family:'PlusJakartaSans-Light';
    src: url(../../fonts/PlusJakartaSans-Light.ttf);
}

@font-face {
    font-family:'PlusJakartaSans-Bold';
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);

}

@font-face {
        font-family:'PlusJakartaSans-Medium';
        src: url(../../fonts/PlusJakartaSans-Medium.ttf);
    

}

body {
    margin: 0;
  }
  
.footer {
    width: 100vw;
    height: 32.5rem;
    background: #163279;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin:0;
}

.footer .text-wrapper {
    color: #ffffff;
    font-family: "PlusJakartaSans-Light", Helvetica;
    font-size: 1rem;
    font-weight: 300;
    left: 4.5rem;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27.563rem;
    width: 607px;
}

.footer .footerFrame {
    align-items: center;
    display: inline-flex;
    gap: 3rem;
    left: 9.188rem;
    position: absolute;
    top: 6.438rem;
}

.footer .footerLogo {
    height: 12.125rem;
    position: relative;
    width: 12.125rem;
}

.footer .footerDiv {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.footer .footerFrame-2 {
    align-items: flex-start;
    /* display: inline-flex; */
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.footer .get-in-touch {
    color: transparent;
    font-family: "Plus Jakarta Sans-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.footer .footerSpan {
    color: #ffffff;
}

.footer .footer-text-wrapper-2 {
    color: #75fac8;
}

.footer .footerParagraph {
    color: #ffffff;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 904.4px;
    margin: 1rem 0 0 0;
}

.footer .footer-frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 62px;
    position: relative;

}

.footer .footerImg {
    height: 48px;
    position: relative;
    width: 48px;
}

.footer .keyboard-arrow-up {
    height: 68px !important;
    left: 1310px !important;
    position: absolute !important;
    top: 406px !important;
    width: 68px !important;
}

.footer .keyboard-arrow-up {
    height: 68px !important;
    left: 1310px !important;
    position: absolute !important;
    top: 406px !important;
    width: 68px !important;
    }
    
    .icon-nav-link{
        text-decoration: none;
    }

    /* .action{
        position: absolute;
        right: 72px;
        top: 410px;
    }

    .arrowUpBtn {
        flex-shrink: 0;
        background: white;
        opacity: 80%;
        border-radius: 6.25rem;
        border:none;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
        width: 42px;
        height: 42px;
        justify-content: center;
        align-items: center;
       
    }
     */

    
    @media screen and  (max-width:768px) {
        .footer {
            width: 768px;
            height: 521px;
            background: #163279;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            margin:0;
        }
        
        .footer .text-wrapper {
            font-size: 0.9rem;
            font-weight: 300;
            left: 46px;
            letter-spacing: 0;
            line-height: normal;
            position: absolute;
            top: 27.563rem;
            width: 607px;
        }

        .footer .footerFrame {
            justify-content: left;
            align-items: flex-start;
            display: inline-flex;
            gap: 45px;
            left: 46px;
            position: absolute;
            top: 6.438rem;
        }

        .footer .footerLogo {
            align-items: flex-start;
            height: 162px;
            position: relative;
            width: 162px;
        }
        
        .footer .footerParagraph {
            width: 433px;
            font-size: 1.5rem;
            line-height: 2.4rem;
            margin: 1rem 0 0 0;
        }

        .footer .footer-frame-3 {
            gap: 30px;
        
        }

        .footer .get-in-touch {
            font-size: 36px;
        }

        .footer .footerImg {
            height: 42px;
            width: 42px;
        }
    }

    @media screen and  (max-width:375px) {
       .footer{
        width: 375px;
        height: 638px;
        background: #163279;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin:0;
    }
    
    .footer .text-wrapper {
        font-size: 0.9rem;
        font-weight: 300;
        left: 46px;
        letter-spacing: 0;
        line-height: 24px;
        position: absolute;
        top: 550px;
        width: 257px;
    }

    .footer .footerFrame {
        align-items: left;
        display: inline-flex;
        flex-direction: column;
        gap: 1.5rem;
        left: 46px;
        position: absolute;
        top: 60px;
    }

    
    .footer .footerParagraph {
        width: 325px;
        font-size: 1.35rem;
        line-height: 2.2rem;
        margin: 1rem 0 0 0;
    }

    .footer .footer-frame-3 {
        gap: 20px;
    
    }

    .footer .get-in-touch {
        font-size: 32px;
    }

    .footer .footerImg {
        height: 40px;
        width: 40px;
    }
    }