@font-face {
  font-family: "PlusJakartaSans-Bold" ;
  src: url("../../fonts/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: "PlusJakartaSans-Medium" ;
  src: url("../../fonts/PlusJakartaSans-Medium.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "PlusJakartaSans-Medium";
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

header{
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img {
  width: 90px;
  margin-right: 75px;
  /* border-radius: 50%; */

}

.header_logo{
  /* color: #eee;
  font-weight: 600; */
} 

.nav_list{
  display: flex;
  align-items: center;
}

.nav_item{
  margin: 0 8px;
}

.nav_link{
  padding: 10px;
  color: #163279;
  font-size: 18px ;
  font-family: "PlusJakartaSans-Medium" ;
  border-radius: 5px;
}

.nav_link:hover{
  background-color: #0066cc;
  text-decoration: none;
}

.header_toggle,
.header_close{
  display: none;
}

@media screen and  (max-width:768px) {
  header {
    height: 140px;
    justify-content: space-between;
    padding: 0 28px;
  }

  .logo img{
    width: 90px;
  }

  .header_toggle{
    display: inline;
    color:#163279;
    font-size: 24px;
  }

  .header_close{
    position: absolute;
    right:24px;
    display: block;
    font-size: 24px;
    border-radius: 50%;
  }

  .header_close:hover{
    background-color: #B0A4A4;
  }

  .nav{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #163279;
    color: #fff;
    width: 60%;
    height: 100vh;
    padding: 24px 0;
    z-index: 100;
    transition: 0.5s;
    border-radius: 0 0 0 50%;

  }

  .nav_list{
    display: flex;
    flex-direction: column;
  }

  .nav_item{
    margin: 2rem 0;
  }

  .show{
    right:0;
    
  }
}
/* 
.navbar {
    height: 5.625rem;
    width: 100vw;
    max-width: 75rem;
    align-items: center;
    display: inline-flex;
    margin:0 auto;
    padding:1.25rem 4.75rem 0.625rem 4.75rem;

    align-items: center;
    justify-content: space-between;

    position: relative;
    top: 0;   
    z-index:3;
    color: transparent;
    overflow: hidden;
}

.navbarLogo {
    object-fit: cover;
    height: 90px;
    position: relative;
    width: 90px;
}

.menuListItem {
    margin-right: 2.33rem;
    cursor: pointer;
    display: flex-end;
    justify-content: space-between;
    color:#163279;
    text-decoration: none;
    font-family: 'PlusJakartaSans-Medium';
}

.menuListItem:hover {
    color:#0066CC;
    text-decoration: none;
}


.desktopMenuBtn {
    background-color: #163279;
    border-radius: 10px;
    color: white;
    padding: 10px 30px;

    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
  }

.desktopMenuBtn:hover {
    background-color: #0066CC;
    color: white;
  }

  @font-face {
    font-family: 'PlusJakartaSans-Medium';
    src: url(../../fonts/PlusJakartaSans-Medium.ttf);
  } */

/* other
  body{
    margin: 0;
    padding: 0;
  }

  .navbar{
    background: transparent;
    height: 140px ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 999;

  }

  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 140px;
    width: 1440px;
  }

  .logo-container{
    justify-self: start;
    margin-left: 75px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .navbarLogo {
    margin-left: 0.5rem;
    width: 90px;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }

  .nav-links{
    color: #163279;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height:100%;
  }
  .nav-links:hover{
    color: #0066cc;
    border-bottom: 4px solid#fff;
    transition: all 0.2s ease-out;
  }

  .fa-bars{
    color: #163279;
  }

  .nav-links-mobile{
    display: none;
  }

  .menu-icon {
    display: none;
  }


@media screen and (max-width: 768px) {
  .NavbarItems{
    position:relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80%;
    left:-100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active{
    background: #163279;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links{
    text-align: center;
    padding: 2rem;
    width: 100% ;
    display: table;
  }

  .nav-links:hover {
    background-color: #0066cc;
    color: #fff;
    border-radius: 0;
  }

  .logo-container{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%,50%);
  }
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

  .fa-times {
    color: #163279;
    font-size: 2rem;
  }

  .nav-links-mobile{
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #163279;
    transition: 250ms;
  } */