@font-face {
    font-family: "PlusJakartaSans-ExtraBold";
    src: url(../../fonts/PlusJakartaSans-ExtraBold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-SemiBold";
    src: url(../../fonts/PlusJakartaSans-SemiBold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Medium";
    src: url(../../fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular";
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Light";
    src: url(../../fonts/PlusJakartaSans-Light.ttf);
}

html, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
    }
* {
    margin: 0px;
}

#frame {
    height:(100vh - 4rem);
    width: 100vw;
    overflow: hidden;
    position: relative;
    

}

.SFC {
    position: absolute;
    z-index: -5;
    top: 12rem;
    right: 7rem;
    object-fit: cover;
    height: 100vh;
    animation: blur 3s ease 0s ;
    animation-delay: 1s; 
    -webkit-animation: blur 3s ease 0s ;
    -moz-animation: blur 3s ease 0s ;

}

@keyframes blur {
    0%,
    90% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
    }
    50% {
      -webkit-filter: blur(50px);
      -moz-filter: blur(50px);
      -o-filter: blur(50px);
      -ms-filter: blur(50px);
    }
  }
  

.workIntro1 {
    height: 100vh;
    width: 76rem;
    padding: 12rem 7rem 12rem 7rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #061736;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: 2s; 
}

@keyframes slideRight {
    0%{
      transform: translateX(-100px);
      opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
  }

/* .number1 {
    font-family: "PlusJakartaSans-ExtraBold" ;
    font-size: 5rem;
} */

.project1 {
    font-family: "PlusJakartaSans-ExtraBold" ;
    font-size: 3.125rem;
}

.workTime {
    font-family: "PlusJakartaSans-Medium" ;
    font-size: 1rem;
    padding-top: 1rem;
    margin:0;
}

.workDescrption {
    font-family: "PlusJakartaSans-Regular" ;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-top: 1.5rem;
    width: 500px;
    margin:0
}

.work-nav-link {
    color:#0066cc;
    font-family: "PlusJakartaSans-SemiBold" ;
    font-size:1.125rem;
    padding-top: 2rem;
}

.detail{
    padding-top: 13rem;
    font-family: "PlusJakartaSans-Light" ;
    font-size: 1rem;
}

.service{
    color: #8F9398;
    font-family: "PlusJakartaSans-Light";
    margin-bottom: 1rem;
    
}

.press{
    color: #8F9398;
    font-family: "PlusJakartaSans-Light" ;
    margin-top:2rem ;
    margin-bottom:1rem ;
}

.divLink2{
    padding-top: 1rem;
}

.link{
    color: #061736;
    font-family: 'PlusJakartaSans-Light';
    text-decoration: underline;

}

.link2{
    color: #061736;
    font-family: "PlusJakartaSans-Light";
    text-decoration: underline;
    
}


@media screen and  (max-width:768px) {
 
    #frame {
        width: 768px;
        height: 1350px;
        display: flex;
        margin:0;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .workIntro1{
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 520px;
        margin-top: 640px;
        margin-left: 90px;
        padding: 0;
        
    }
    

    .SFC{
        width: 600px;
        height: 720px;
        position: absolute;
        right: 120px;
        top: 0;

        
    }

    .detail{
        padding-top: 4rem;
        width: 520px;

        
    }

    .number1 {
     font-size: 4rem;
     width: 520px;

    }

    .project1 {
        font-size: 2.5rem;
        width: 520px;


    }

    .workTime,.service,.divLink2,.link,.link2,.detail,.press{
        font-size: 0.9rem;
        width: 520px;

    }
    
    .workDescrption{
        width: 520px;
        font-size: 1rem;
       
    }
    
    .work-nav-link{
        font-size: 1rem;
        width: 520px;
    }
}

@media screen and  (max-width:600px) {
    #frame {
        width: 375px;
        display: flex;
        height: 900px;
        margin-bottom: 60px;
        margin-top: 0;
    }

    .workIntro1{
        display: relative;
        height: fit-content;
        flex-direction: column;
        justify-items: center;
        width: 340px;
        margin-top: 400px;
        margin-left:45px;
        padding: 0;
  
        
    }
    

    .SFC{
        width: 300px;
        height: 360px;
        position: absolute;
        top: 0;
        right: 36px ;
        justify-content: center;
        align-items: center;        
    }

    .detail{
        padding-top: 3rem;
        
    }

    .number1 {
     font-size: 3rem;
    }

    .project1 {
        font-size: 2rem;

    }

    .workTime,.service,.divLink2,.link,.link2,.detail,.press{
        font-size: 0.7rem;
        width: 250px;

    }
    
    .workDescrption{
        width: 290px;
        font-size: 0.8rem;
        line-height: 1.6rem;
       
    }
    
    .work-nav-link{
        font-size: 0.8rem;
        width: 250px;
    }
}
