@font-face {
    font-family: "PlusJakartaSans-Bold";
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular";
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

html, body { margin: 0; 
    position: relative;
    z-index:-100 ;}

#aboutMe {
    position: relative;
    z-index: -2;
    height:(100vh - 4rem);
    /* width: 90rem; */
    width:100vw;;
    margin: 0;
    padding-bottom: 4rem;
    overflow: hidden;
    position: relative;
    

}

#root{
    position: relative;
    z-index:-100 ;
}

.App{
    position: relative;
    z-index:-100 ;
}

.content{
    position: relative;
    z-index:-100 ;
}

.bg {
    position: absolute;
    z-index: -10;
    top: -2rem;
    right: 2rem;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 82rem;
    padding: 4rem;
    font-size: 3rem;
    font-weight: 700;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #061736;
    line-height: 1rem;
}

.title{
    font-family: 'PlusJakartaSans-Bold' ;
    font-size: 5rem;
}

#aboutMeContent{
padding-bottom:0 ;
margin: 0;
}

#aboutReco{
    padding-bottom:0 ;
    margin: 0;
}

@media screen and  (max-width:1024px) {
    div.aboutIntro{
        height: 1550px;
        margin: 0;
    }

    #aboutMeContent{
        padding-bottom:0 ;
        margin: 0;
        }

    #aboutSkill{
        padding-bottom:0 ;
        margin: 0;
    }

    #aboutReco{
        margin: 0;
    }
    
}

@media screen and  (max-width:480px) {
    #aboutMeContent{
        padding: bottom 60px ;
        margin: 0;
        }  
    
        div.aboutIntro{
            /* height: 1000px; */
            height: 1100px;
            margin: 0;
        }
        div.aboutTool{
            margin-bottom: 1500px;
        }

        
     #aboutSkill{
        padding-bottom:0 ;
        margin: 0;

    }

    div.about{
        margin: 0;
        /* height: 750px; */
        height:1100px;
        /* margin-top: 300px; */
    }
    .content{
        position: relative;
        z-index:-100 ;
        /* height: 700vh; */
    }
}
/* 
.subtitleList{
    align-items: center;
display: inline-flex;
gap: 59px;
left: 76px;
position: absolute;
top: 246px;
flex-direction: column;
align-items: flex-start;
}

.subtitle{
    font-family: 'PlusJakartaSans-Bold' ;
    font-size: 2.75rem;
}

.subtitle2{
    font-family: 'PlusJakartaSans-Bold' ;
    font-size: 2.75rem;
} */
