@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular" ;
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
 }

#seal {
    height:(100vh - 4rem);
    margin: 0;
    /* padding-bottom: 4rem; */
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100vw;;

}

#seal .overlap-group-wrapper {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    }

    #seal .overlap-group {
    background-image: url(../../images/seal\ banner.png);
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    animation-delay: 3s; 
    -webkit-animation: fadeInFromNone 3s ease-out;
      -moz-animation: fadeInFromNone 3s ease-out;
      -o-animation: fadeInFromNone 3s ease-out;
      animation: fadeInFromNone 3s ease-out;
    }
    
    @-webkit-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-moz-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @-o-keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }
      
      @keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
      
        1% {
            display: block;
            opacity: 0;
        }
      
        100% {
            display: block;
            opacity: 1;
        }
      }

.sealIntro {
  padding: 3.25rem 8.75rem 3.25rem 8.75rem;
  display: flex;
  flex-direction: column;
  background-color: #F4FBFF;
  gap: 30px;
}


.introTitle{
    font-size: 2.5rem;
    font-family: "PlusJakartaSans-Bold";
    color: #163279;
    line-height: 150%;
}

.introDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#061736;
    line-height: 150%;
    width: 1100px;
}

.sealConcept{
    margin: 0;
    padding: 0;
    /* width: 1440px; */
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 110px 140px 220px 140px ;
    gap: 81px;
    
}

img .sealConceptImg{
 width: 36.25rem;
 height: 41.25rem;
 padding: 0;
 margin: 0;
}

.conceptContainer{
 padding: 0;
 margin: 0;
 width: 414px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 14px;
}

.conceptTitle{
    font-size: 1.75rem;
    font-family: "PlusJakartaSans-Bold";
    color: #061736;
    line-height:150%;
}

.conceptDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
}

.sealWork{
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;

}

.sealWorkContainer{
  display: flex;
  flex-direction: column;
  padding: 0 140px 60px;
  gap: 14px;
}

.sealWorkTitle{
    font-family: "PlusJakartaSans-Bold";
    font-size: 1.75rem ;
    color: #061736;
    line-height: 150%;
}

.sealWorkDescription{
    font-size: 1.25rem;
    font-family: "PlusJakartaSans-Regular";
    color:#474A58;
    line-height: 150%;
    width:1075px;
}

.sealImgContainer{
    display: flex;
    flex-direction: column;
    padding: 0 72px;
    row-gap: 70px;
}

.sealImgList{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    padding-bottom: 220px;
}

.sealImgRow{
    display: flex;
    flex-direction: row;
    gap: 70px;

}

img.sealWork{
    width: 1296px;
}

img.sealWorkItem{
 width: 614px;
 gap:70px;
}

.actionProject{
    display: flex;
    flex-direction: row;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 6rem;
    justify-content: space-between;
}

@media screen and (max-width:1366px) {
    #seal {
        width: 100vw;
    
    }
    
    #seal .overlap-group-wrapper {
        height: 100vh;
        width: 100vw;
        }
    
        #seal .overlap-group {
        background-image: url(../../images/seal\ banner\ ipad.png);
        background-size: 100% 100%;
        height:100vh;
        width: 100vw;
        z-index: -1;
        }
        
    .sealIntro {
      padding: 52px 80px;
      gap: 30px;
      width: 100vw;
    }
    
    .introTitle{
        font-size: 2.5rem;
        font-family: "PlusJakartaSans-Bold";
        color: #163279;
        line-height: 150%;
    }
    
    p.introDescription{
        font-size: 1.25rem;
        font-family: "PlusJakartaSans-Regular";
        color:#061736;
        line-height: 150%;
        width: 608px;
        height: 84px;

        
    }
    
    div.sealConcept{
        margin: 0;
        height: 25vh;
        display: flex;
        /* flex-direction: column; */
        flex-direction: row;
        padding: 30px 30px 330px 30px ;
        gap: 60px;
        
    }
    
    .sealConceptImg{
     width:30vw;
     height: 50vh;
     /* display: absolute; */
    }
    
    div.conceptContainer{
     padding: 0;
     margin: 0;
     width: 60vw;
     height: 30vw;
    }
    
    .conceptTitle{
        font-size: 1.75rem;
        font-family: "PlusJakartaSans-Bold";
        color: #061736;
        line-height:150%;
    }
    
    .conceptDescription{
        font-size: 1.25rem;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width: 50vw;
        height: 50vh;
    }
    
    .sealWork{
      width: 708px;
      display: flex;
    }
    
    .sealWorkContainer{
      display: flex;
      flex-direction: column;
      padding: 0 30px 60px;
      gap: 14px;
    }
    
    .sealWorkTitle{
        font-family: "PlusJakartaSans-Bold";
        font-size: 1.75rem ;
        color: #061736;
        line-height: 150%;
    }
    
    .sealWorkDescription{
        font-size: 1.25rem;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width:708px;
    }
    
    .sealImgContainer{
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        row-gap: 60px;
    }
    
    .sealImgList{
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        padding-bottom: 220px;
    }
    
    .sealImgRow{
        display: flex;
        flex-direction: column;
        gap: 60px;
    
    }
    
    img.sealWork{
        width: 708px;
    }
    
    img.sealWorkItem{
     width: 708px;
     gap:60px;
    }
    
    .actionProject{
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 6rem;
        justify-content: space-between;
    }
    
}



@media screen and (max-width:480px) {
    #seal {
        width: 100vw;
    
    }
    
    #seal .overlap-group-wrapper {
        height: 427.47px;
        width: 100vw;
        }
    
        #seal .overlap-group {
        background-image: url(../../images/seal\ banner\ ipad.png);
        background-size: 100% 100%;
        height: 427.47px;
        z-index: -1;
        }
        
    div.sealIntro{
      padding: 25px 40px;
      gap: 20px;
      width: 100vw;
      height: 130.73;
    }
    
    span.introTitle{
        font-size: 20px;
        font-family: "PlusJakartaSans-Bold";
        color: #163279;
        line-height: 150%;
    }
    
    p.introDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#061736;
        line-height: 150%;
        width: 295px;
        height: 42px;

        
    }
    
    div.sealConcept{
        margin: 0;
        height: 495.6px;
        display: flex;
        flex-direction: column;
        padding: 55px 16px 220px 16px ;
        gap: 30px;
        
    }
    
    img .sealConceptImg{
     width: 281.27px;
     height: 320.23px;
     padding: 0 47px;
    }
    
    div.conceptContainer{
     padding: 0;
     margin: 0;
     width: 343px;
     height: 146px;
    }
    
    span.conceptTitle{
        font-size: 14px;
        font-family: "PlusJakartaSans-Bold";
        color: #061736;
        line-height:150%;
    }
    
    p.conceptDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width: 343px;
        height: 123px;
    }
    
    .sealWork{
      width: 343px;
      display: flex;
    }
    
    .sealWorkContainer{
      display: flex;
      flex-direction: column;
      padding: 0 16px 30px;
      gap: 14px;
    }
    
    .sealWorkTitle{
        font-family: "PlusJakartaSans-Bold";
        font-size: 14px ;
        color: #061736;
        line-height: 150%;
    }
    
    .sealWorkDescription{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width:343px;
    }
    
    .sealImgContainer{
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        row-gap: 30px;
    }
    
    .sealImgList{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        padding-bottom: 110px;
    }
    
    .sealImgRow{
        display: flex;
        flex-direction: column;
        gap: 30px;
    
    }
    
    img.sealWork{
        width: 343px;
    }
    
    img.sealWorkItem{
     width: 343px;
     gap:30px;
    }
    
    div.actionProject{
        display: flex;
        flex-direction: row;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 6rem;
        justify-content: space-between;
    }
    
}