@font-face {
    font-family: "PlusJakartaSans-Bold" ;
    src: url(../../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-SemiBold" ;
    src: url(../../fonts/PlusJakartaSans-SemiBold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Medium" ;
    src: url(../../fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Regular" ;
    src: url(../../fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: "PlusJakartaSans-Light" ;
    src: url(../../fonts/PlusJakartaSans-Light.ttf);
}

#nextGen{
    height:(100vh - 4rem);
    width: 90rem;
    margin: 0;
    /* padding-bottom: 4rem; */
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    width: 100vw;;
}

.projectGoalContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
  
  }
  
  .textContainer{
    display: flex;
    flex-direction: column;
    padding: 0 182.5px 60px;
    width:1075px;
    justify-content: center;
    gap:14px;
  }
  
  .subtitle{
    font-family: "PlusJakartaSans-SemiBold";
    font-size: 20px;
    color: #979797;
    line-height: 150%;
}

  .title{
      font-family: "PlusJakartaSans-Bold";
      font-size: 1.75rem ;
      color: #061736;
      line-height: 150%;
  }
  
  .description{
      font-size: 18px;
      font-family: "PlusJakartaSans-Regular";
      color:#474A58;
      line-height: 150%;
      width:1075px;
      margin:0;
  }
  
  .imgContainer{
      display: flex;
      flex-direction: column;
      justify-content:center ;
      align-items: center;
      
  }
  
  img.nextGenGoalImg{
    width:1076px;
    padding:0 182px;
  }

  .nextGenDesignContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
  }

  .nextGenDesignTextContainer{
    display: flex;
    flex-direction: column;
    padding: 0 182.5px 120px;
    width:1075px;
    justify-content: center;
    gap:14px;
  }

  img.nextGenDesignImg{
    width:1076px;
    padding:0 182px;
  }

  .nextGenWireframeContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
  }

  img.nextGenWireframeImg{
    width:1076px;
    padding:0 182px;
  }

  .nextGenVideoContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 220px;
    justify-content: center;
  }

  .nextGenBtnContainer{
    padding-top: 18px;
    margin:0;
    display: flex;
  }

  img.nextGenVideoImg{
    width:1076px;
    padding:0 182px;
  }

  @media screen and (max-width:1366px) {
    #nextGen{
      width: 100vw;
  }
  
  .projectGoalContainer{
      width: 100vw;
      padding-bottom: 220px;
      justify-content: center;
    
    }
    
    .textContainer{
      display: flex;
      flex-direction: column;
      padding: 0 30px 60px;
      width:708px;
      justify-content: center;
      gap:14px;
    }
    
    .subtitle{
      font-family: "PlusJakartaSans-SemiBold";
      font-size: 20px;
      color: #979797;
      line-height: 150%;
  }
  
    .title{
        font-family: "PlusJakartaSans-Bold";
        font-size: 1.75rem ;
        color: #061736;
        line-height: 150%;
    }
    
    p.description{
        font-size: 18px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width:708px;
        margin:0;
    }
    
    .imgContainer{
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items: center;
        
    }
    
    img.nextGenGoalImg{
      width:708px;
      padding:0 30px;
    }
  
    .nextGenDesignContainer{
      width: 100vw;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding-bottom: 220px;
      justify-content: center;
    }
  
    .nextGenDesignTextContainer{
      display: flex;
      flex-direction: column;
      padding: 0 30px 120px;
      width:708px;
      justify-content: center;
      gap:14px;
    }
  
    img.nextGenDesignImg{
      width:708px;
      padding:0 30px;
    }
  
    .nextGenWireframeContainer{
      width: 100vw;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding-bottom: 220px;
      justify-content: center;
    }
  
    img.nextGenWireframeImg{
      width:708px;
      padding:0 30px;
    }
  
    .nextGenVideoContainer{
      width: 100vw;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding-bottom: 220px;
      justify-content: center;
    }
  
    .nextGenBtnContainer{
      padding-top: 18px;
      margin:0;
      display: flex;
    }
  
    img.nextGenVideoImg{
      width:708px;
      padding:0 30px;
    }
  
  }

  @media screen and (max-width:480px) {
    #nextGen{
      width: 100vw;
  }
  
  .projectGoalContainer{
      width: 100vw;
      padding-bottom: 110px;
      justify-content: center;
    
    }
    
    div.textContainer{
      display: flex;
      flex-direction: column;
      padding: 0 16px 30px;
      width:358px;
      justify-content: center;
      gap:0;
      grid-gap: 0;
    }
    
    span.subtitle{
      font-family: "PlusJakartaSans-SemiBold";
      font-size: 10px;
      color: #979797;
      line-height: 150%;
      padding-bottom: 4px;
  }
  
    span.title{
        font-family: "PlusJakartaSans-Bold";
        font-size: 14px ;
        color: #061736;
        line-height: 150%;
        padding-bottom: 10px;
    }
    
    p.description{
        font-size: 10px;
        font-family: "PlusJakartaSans-Regular";
        color:#474A58;
        line-height: 150%;
        width:358px;
        margin:0;
    }
    
    .imgContainer{
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items: center;
        
    }
    
    img.nextGenGoalImg{
      width: 358px;
      padding:0 16px;
    }
  
    .nextGenDesignContainer{
      width: 100vw;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding-bottom: 110px;
      justify-content: center;
    }
  
    .nextGenDesignTextContainer{
      display: flex;
      flex-direction: column;
      padding: 0 16px 60px;
      width:358px;
      justify-content: center;
      gap:0;
      grid-gap: 0;
    }
  
    img.nextGenDesignImg{
      width:358px;
      padding:0 16px;
    }
  
    .nextGenWireframeContainer{
      width: 100vw;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding-bottom: 110px;
      justify-content: center;
    }
  
    img.nextGenWireframeImg{
      width:358px;
      padding:0 16px;
    }
  
    .nextGenVideoContainer{
      width: 100vw;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding-bottom: 110px;
      justify-content: center;
    }
  
    .nextGenBtnContainer{
      padding-top: 15px;
      margin:0;
      display: flex;
    }
  
    img.nextGenVideoImg{
      width:358px;
      padding:0 16px;
    }
  
  }